/*@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');*/

/* wordpress */
/*body { border:none;font-family:"Roboto", sans-serif!important; }*/
header { display:none; }
footer { display:none; }
a:focus, a:hover { text-decoration:none; background-color: #ffffff; }
/* ----end---- */


img { max-width:100%; }
a.collapsible-header.active { background:#F4F4F4!important; }

ul#SideNav { width:320px;padding:0 20px;font-family: 'Nunito', sans-serif;letter-spacing:.2px;-webkit-box-shadow: 1px 0px 5px 0px rgba(207,207,207,1);
    -moz-box-shadow: 1px 0px 5px 0px rgba(207,207,207,1);
    box-shadow: 1px 0px 5px 0px rgba(207,207,207,1); }
.row { margin-bottom:0px; }
#SideNav .nav-logo { width:320px;height:70px;padding-top:10px;margin:0 -20px 20px;background:#F4F4F4; }
#SideNav .nav-logo img { display:block;max-width:240px;margin-left:50px; }
.mar-btm-50 { margin-bottom:50px; }


h1, h2, h3, h4, h5, .sub-heading { font-family:'Nunito', sans-serif;font-weight:700;margin:0;padding:0;line-height:1em; }
h1 { font-size:70px; }
h2 { font-size:40px; }
h3 { font-size:46px; }
h4 { font-size:36px;margin-top:20px; }
h5 { font-size:24px; }
p { font-size:1.2em;font-weight:300;color:#898989;margin:0;padding:0;width:100%;margin-top:20px; }
.sub-heading { font-size:42px;margin-top:10px;  }
.text-primary { color:#24A79A; }
.text-secondary { color:#ff9300; }
.text-grey { color:#ccc; }

.right-img { text-align:center; }

.slide-logo { text-align:center;margin-bottom:20px; }
.slide-logo img { max-width:100%;}

.fit-title-sub {  }
.fit-title-small { margin:10px 0; }

.fit-text-medium { line-height:1.4em; }

.border-top { display:block;width:100%; }
.border-top .color01,
.border-top .color02,
.border-top .color03,
.border-top .color04,
.border-top .color05 { float:left;height:5px;width:20%;margin:0;padding:0; }

.border-top .color01 { background:#F05354; }
.border-top .color02 { background:#24A699; }
.border-top .color03 { background:#F8981C; }
.border-top .color04 { background:#903D97; }
.border-top .color05 { background:#42A046; }

.side-nav { margin:5px 0; }
.side-nav > a { border-radius:50px;width:270px;font-weight:400;color:#808080;padding:0 20px;transition: all 0.3s ease 0s; }
/*.side-nav > a:hover { border-radius:50px;background:#474986;color:#fff;width:270px;padding:0 20px;transition: all 0.3s ease 0s;  }*/
/*.side-nav .active { background:transparent; }*/
.side-nav .active > a { border-radius:50px;color:#F79922;width:270px;background:#ffffff;}
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header { padding:0 20px; }
/*.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover { background:#474986;color:#fff; }*/
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body { padding-left:10px; }
/*.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {  background:transparent;color:#808080;padding:0 20px;margin:0;height:28px;line-height:28px; }*/
/*.side-nav .collapsible-body li a:hover, .side-nav.fixed .collapsible-body li a:hover { background:transparent;color:#ff9300;font-weight:400; }*/
/*li .highlight { border-radius:50px;background:#474986;width:270px; }*/
li .highlight a { color:#fff; }

/* Getting to know your Practice */
ul.category-list { margin-top:20px; }
ul.category-list li { font-size:50px;font-family: 'Nunito', sans-serif;font-weight:600;color:#ff9300; }
li .sub-highlight a, .title-sub-color { color:#ff9300!important; }

/* Practice Promoter */
.promoter-heading-wrapper { position:relative;bottom:250px; }

/* Reporting */
ul.category-list-02 { margin-top:40px; }
ul.category-list-02 li { font-family: 'Nunito', sans-serif;font-size:40px;font-weight:600;color:#ff9300;margin-top:20px; }
.client-info, .client-name { font-family: 'Nunito', sans-serif;font-weight:700; }

.client-info { font-size:24px;margin-top:30px; }
.client-name { font-size:36px;margin:0;padding:0;line-height: 1em; }
.client-url { font-size:16px; }

/* Case Study List */
.case-study-list { font-family: 'Nunito', sans-serif;font-weight:700;color:#656666; }
.case-study-list li { font-size:34px;line-height:1.2em; }
.case-study-list li:first-child { margin:50px 0; }
.case-study-list li span { color:#F89A20;font-size:inherit; }

/* Prices and Plans */
h1.price-main-title { font-size:50px; }
.title-partnership, .title-plan, .plan-price, .web-title, .download-title { font-family: 'Nunito', sans-serif;font-weight:700; }
.title-partnership {font-size: 25px;}
.title-plan {font-size: 42px;line-height:42px; }
.web-title {font-size: 22px;margin-top: 10px; }
.plan-price {font-size: 45px;line-height:1em; }
.plan-price span {font-size: 23px;margin-top: 10px;vertical-align: middle;display: inline-block;margin-top: -9px;color: #25a799; }
.download-title { font-size:20px;margin-top:0px; }
ul.prices {font-family: 'Nunito', sans-serif;color:#656666;margin-top: 8px;display:inline-block;margin-bottom: 0; }
ul.prices li {font-size: 22px;font-weight:600;text-indent: -29px;padding-left: 1em;line-height: 29px; }
ul.prices li span { color:#F8981C;margin-right:5px; }
ul.prices li:last-child { margin-bottom:0px; }


#SlideWrapper { height:100vh;margin-left:300px;background:url('../../sales/img/background-circle.jpg');background-repeat:no-repeat;background-position: -30% 19%;background-size: 50%; }
#SlideWrapper .top-bar { height:10vh;/* background:#f7f7f7;*/display:block;width:100%; }
#SlideWrapper .bottom-bar { height:6vh;background:#f7f7f7; position:relative;display:table;width:100%;bottom:0; }
#SlideWrapper .bottom-info { display: table-cell; vertical-align: middle;color:#adadad;font-weight:300; }
#SlideWrapper .mid-slide { height:90vh;display:table;width:100%; }
#SlideWrapper .mid-slide-index { height:92vh;display:table;width:100%; }
#SlideWrapper .slide-info { display: table-cell; vertical-align: middle;padding:0 5%; }
#SlideWrapper .top-logo { position:absolute;top:20px;left:50%;transform: translateX(-50%); }

#SlideWrapper .slide-index{ background:url('../img/img-computer.png');background-repeat:no-repeat;background-position: 95% center;background-size: 55%; }
#SlideWrapper .slide-practice { background:url('../img/practice-main.jpg');background-repeat:no-repeat;background-position: 95% 0px;background-size: 55%; }
#SlideWrapper .slide-target { background:url('../img/practice-target.jpg');background-repeat:no-repeat;background-position: 115% 0px;background-size: 60%; }
#SlideWrapper .slide-treatment { background:url('../img/practice-treatment.jpg');background-repeat:no-repeat;background-position: 115% 0px;background-size: 60%; }
#SlideWrapper .slide-promotions { background:url('../img/practice-promotions.jpg');background-repeat:no-repeat;background-position: 115% 0px;background-size: 55%; }
#SlideWrapper .slide-goals { background:url('../img/practice-goals.jpg');background-repeat:no-repeat;background-position: 105% 0px;background-size: 60%; }
#SlideWrapper .slide-patients { background:url('../img/practice-patients.jpg');background-repeat:no-repeat;background-position: 115% 58px;background-size: 64%; }
#SlideWrapper .slide-digital { background:url('../img/digital-landscape.jpg');background-repeat:no-repeat;background-position: 120% 0px;background-size: 60%; }
#SlideWrapper .slide-google { background:url('../img/google-data.jpg');background-repeat:no-repeat;background-position: 115% 50px;background-size: 60%; }
#SlideWrapper .slide-speed { background:url('../img/website-speed.jpg');background-repeat:no-repeat;background-position: 115% 28px;background-size: 58%; }
#SlideWrapper .slide-security { background:url('../img/security.jpg');background-repeat:no-repeat;background-position: 111% 0px;background-size: 54%; }
#SlideWrapper .slide-blog { background:url('../img/blog.jpg');background-repeat:no-repeat;background-position: 105% 0px;background-size: 60%; }
#SlideWrapper .slide-optimization { background:url('../img/optimization.jpg');background-repeat:no-repeat;background-position: 115% center;background-size: 60%; }
#SlideWrapper .slide-promoter { background:url('../img/promoter.jpg');background-repeat:no-repeat;background-position: 121% 24px;background-size: 61%; }
#SlideWrapper .slide-promoter-setting { background:url('../img/promoter-setting.png');background-repeat:no-repeat;background-position: 125px 60px;background-size:100%; }
#SlideWrapper .slide-promoter-engagement { background:url('../img/promoter-engagement.png');background-repeat:no-repeat;background-position: 75px 60px;background-size:100%; }
#SlideWrapper .slide-promoter-data { background:url('../img/promoter-data.png');background-repeat:no-repeat;background-position: 260px -161px;background-size:129%; }
#SlideWrapper .slide-reporting { background:url('../img/reporting.jpg');background-repeat:no-repeat;background-position: 142% 92px;background-size:70%; }
#SlideWrapper .slide-reporting-portal { background:url('../img/reporting-portal.jpg');background-repeat:no-repeat;background-position: 126% 18px;background-size:74%; }
#SlideWrapper .slide-reporting-reputation { background:url('../img/reporting-reputation.jpg');background-repeat:no-repeat;background-position: 130% 18px;background-size:74%; }
#SlideWrapper .slide-reporting-ranking { background:url('../img/reporting-ranking.jpg');background-repeat:no-repeat;background-position: 132% 18px;background-size:74%;}
#SlideWrapper .slide-reporting-analytics { background:url('../img/reporting-analytics.jpg');background-repeat:no-repeat;background-position: 130% 0px;background-size:74%; }
#SlideWrapper .slide-case-study { background:url('../img/case-study.jpg');background-repeat:no-repeat;background-position: 110% 30px;background-size:60% }
#SlideWrapper .slide-prices { background:url('../img/prices.jpg');background-repeat:no-repeat;background-position: 105% 0px;background-size:60% }

.bubbles { font-family: 'Nunito', sans-serif;width:495px;height:369px;color:#fff;background:url('../img/speech-bubble.jpg');background-repeat:no-repeat;margin-top:50px;padding:35px 0 0 42px;font-weight:700; }
.bubbles .numbers { font-size:120px;text-align:center;line-height:1em;letter-spacing:-3px; }
.bubbles .numbers-info { font-size:60px;color:#fff;text-align:center;line-height:42px;margin-top:12px; }
.bubbles .numbers-info span { font-size:40px;line-height:1em; }

.bubble-02 { max-width:100%;width:660px;height:255px;background:url('../img/img-bubble-02.png');background-repeat:no-repeat;background-size:100%;margin:30px 0;padding:40px 88px;text-align: center;font-style: italic;color: #6f6f6f;}
.bubble-02 p { font-size: 38px;line-height: 43px;margin-top: 12px; }

.top-btn-wrapper { position: absolute; top: 20px; right: 10px; width: 500px;}
.top-btn-wrapper a.btn-next { float:right;display:inline-block;background:#f38900;color:#fff;padding:3px 20px;border-radius:20px;width:100%;max-width:100px;text-align:center;margin-right:20px;font-size:0.9rem;font-weight:800;}
.top-btn-wrapper a.btn-next:hover { background-color:#F8981C;transition: all 0.3s ease 0s;  }


.sub-title { display:inline-block;font-family: 'Nunito', sans-serif;color:#474986;font-size:48px;font-weight:700;line-height:1.2em;margin:20px 0 0 0; }
ul.sub-title  { list-style-type:disc; }
.sub-title li { margin:30px 0 50px 0 }
.sub-title span { font-size:46px; }
.bullet { display:inline-block;font-size:48px; }

/* optmization */
ul.optimization { font-family: 'Nunito', sans-serif;color:#808080;margin-top:20px;display:inline-block; }
ul.optimization li {font-size:26px;font-weight:600;text-indent: -29px;padding-left: 1em; }
ul.optimization li span { color:#24A79A;margin-right:5px;  }
ul.optimization li.disclosure { font-size: 15px;margin-top: 10px;margin-left: 10px;font-style: italic;font-weight: 100; }

a.btn-big { font-size:24px;display:block;background:#f38900;color:#fff;padding:10px 20px;letter-spacing:1px;font-family: 'Nunito', sans-serif;border-radius:40px;width:100%;max-width:300px;text-align:center;margin:10px auto; }
a.btn-big:hover { background-color:#F8981C;00transition: all 0.3s ease 0s; }
a.btn-big-site { font-size:1em;display:inline-block;background:#f38900;color:#fff;padding:8px 20px;font-family: 'Nunito', sans-serif;border-radius:40px;width:100%;max-width:300px;text-align:center;margin-right:10px;margin-top:15px; }
a.btn-big-site:hover { background-color:#F8981C;transition: all 0.3s ease 0s; }

.btn-info { font-family: 'Nunito', sans-serif;margin-top:15px;color:#95989A; }
.btn-info span img { max-width:100%;vertical-align:middle;margin:0px 5px; }

span.quotes-left img { z-index:1;position:relative;top:50px;left:15px; }
span.quotes-right img {z-index:1;position:relative;top:-40px;float:right;right:20px; }

.speech-bubble { position: relative;background:#474986;border-radius: .4em;padding:60px 25px;color:#fff;min-height:290px;display: table; }
.speech-bubble:after {content: '';position: absolute;bottom: 0;left: 20%;width: 0;height: 0;border: 50px solid transparent;border-top-color: #474986;border-bottom: 0;border-left: 0;margin-left: 0;margin-bottom: -32px; }
.speech-bubble p { font-weight:100;font-size:18px;display: table-cell; vertical-align: middle; }

.profile-wrapper { display:block;margin-top:50px;margin-left:10px; }
.profile img { display:block;height:100px;width:100px;border-radius:50%;float:left;margin-right:20px; }
ul.stars { margin:0;padding:15px 0 0 0; }
ul.stars li { display:inline-block;width:28px; }
.profile-wrapper .name { font-family: 'Nunito', sans-serif;color:#24A79A;font-size:22px;font-weight:600; }


@media only screen and (max-width:992px) {
    a.button-collapse { position:absolute;top:25px;left:25px; }
    #SlideWrapper { margin-left:0;background-position: -50px 40%;background-size: 100%; }
    #SlideWrapper .valign-wrapper { display:block; }
    a.btn-big { margin-top:50px; }
    .top-btn-wrapper a.btn-next { max-width: 106px;margin-right: 15px; }
    .slide-logo img { max-width:75%;margin-top:20px; }

    /* index.php */
    img.slide-index-logo { display:block;max-width:300px;margin:20px auto 0; }
    .right-img { margin:50px 0; }
}


/* screen size 1600px by 750px */
@media only screen and (max-height:770px) {
    h1 { font-size:60px; }
    h2 { font-size:25px; }
    h3 { font-size:36px; }
    h4 { font-size:28px; }
    p { font-size:17px; }
    .sub-heading { font-size:32px;}

    #SlideWrapper .top-bar { height:14vh; }
    #SlideWrapper .mid-slide { height:86vh; }

    .top-btn-wrapper { padding-top:28px; }
    .fit-title-main { font-size:52px}

    a.btn-small { font-size:22px;max-width:280px;padding:6px; }
    a.btn-big { font-size:22px;max-width:280px;padding:6px; }

    /* Track Record */
    .speech-bubble p { font-size:16px; }
    .speech-bubble  { min-height: 258px;padding:25px; }
    .profile-wrapper { margin-top:42px; }

    /* Get To Your Practice */
    #SlideWrapper .slide-practice { background-position:110% 38px;background-size:60%; }
    ul.category-list li { font-size:42px; }

    /* Target Patient */
    .sub-title { color:#474986;font-size:36px; }

    /* Google Structure Data */
    #SlideWrapper .slide-google { background-position: 115% 25px;background-size: 62%; }

    /* Website Speed */
    #SlideWrapper .slide-speed { background-position: 111% 20px;background-size: 56%; }
    .bubble-02 { padding:16px 88px;margin-bottom:0; }
    .bubble-02 p { font-size:32px;line-height:1.2em;margin-top:20px; }

    /* Website Design & Optimization */
    ul.optimization li { font-size:22px; }

    /* Practice Promoter  */
    #SlideWrapper .slide-promoter { background-position: 118% 0px;background-size: 61%; }
    .promoter-heading-wrapper { position:relative;bottom:200px; }

    /* Practice Promoter - Setting Up */
    #SlideWrapper .slide-promoter-setting { background-position: 88px 10px;background-size:100%; }

    /* Practice Promoter - Engagement */
    #SlideWrapper .slide-promoter-engagement { background-position: 58px 16px;background-size:100%; }

    /* Practice Promoter - Data / Report */
    #SlideWrapper .slide-promoter-data { background-position: 260px -115px;background-size:129%; }

    /* Reporting */
    #SlideWrapper .slide-reporting { background-position: 142% 38px;background-size:70%; }
    ul.category-list-02 {margin:0; }
    ul.category-list-02 li {font-size:32px;line-height:1em; }
    .client-name { font-size:30px; }

    /* Reporting - Call/Web Tracking Portal */
    #SlideWrapper .slide-reporting-portal { background-position: 137% 0px;background-size:74%; }

    /* Reporting - Call/Web Tracking Portal */
    #SlideWrapper .slide-reporting-reputation { background-position: 140% 0px;background-size:74%; }

    /* Reporting - Ranking Reports */
    #SlideWrapper .slide-reporting-ranking { background-position: 140% 0px;background-size:74%; }

    /* Reporting - Google Analytics */
    #SlideWrapper .slide-reporting-analytics { background-position: 140% 0px;background-size:74%; }

    /* Case Study */
    #SlideWrapper .slide-case-study { background-position: 110% 30px;background-size:60%; }
    .case-study-list li { font-size:25px;line-height:1.2em; }


    /* Prices and Plans */
    #SlideWrapper .slide-prices { background:url('../img/prices.jpg');background-repeat:no-repeat;background-position: 89% 0px;background-size:52% }
    h1.price-main-title { font-size:45px; }
    .title-partnership { font-size:24px;}
    .title-plan { font-size:40px;line-height:42px; }
    .web-title { font-size:24px;margin-top:10px; }
    .plan-price { font-size:40px;line-height:1em; }
    .download-title { font-size:18px;margin-top:0px; }
    ul.prices { font-family: 'Nunito', sans-serif;color:#656666;margin-top:20px;margin-bottom:0;display:inline-block; }
    ul.prices li {font-size:20px;font-weight:600;text-indent: -29px;padding-left: 1em;line-height: 32px; }
    ul.prices li span { color:#F8981C;margin-right:5px; }
    ul.prices li:last-child { margin-bottom:0px; }

}

.active {
    background: #FFFFFF!important;
}

.side-nav li > a {
    height: 42px!important;
    line-height: 42px!important;
    font-weight: 800!important;
}

.side-nav ul li a {
    color: #969696;
}

#content-section {
    margin-top: -22px;
    margin-bottom: 0px;
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    height: 100vh;
    /*background:url('../../assets/img/slide-show/background-circle-clouds.png');background-repeat:no-repeat;background-position: -30% 19%;background-size: 50%;*/
    background:url('../../assets/img/slide-show/background-circle-clouds.png');background-repeat:no-repeat;background-size: cover;background-position: -100px -20px;z-index:10;
    overflow-y: hidden;
    height: 100vh;
}

#content-section .top-logo h4 {
    display: inline-block;
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 6vh;
    height: 6vh;
}

.side-nav li a:hover {
    color:#F79922;
}

#SideNav.side-nav .nav-sub-pages > li a {
    font-size: 0.8rem!important;
}

.side-nav ul li a:hover {
    background-color: #FFFFFF;
}

#content-section .targeted-advertising::after {
    background-image: url('../../assets/img/slide-show/targeted-advertising.png');
    background-position: bottom 100% right 0;
    /*background-size: 70%;*/
}

#content-section .google-search-ads::after {
    background-image: url('../../assets/img/slide-show/google-search-ads.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .google-search-ads-results::after {
    background-image: url('../../assets/img/slide-show/google-search-ads-results.png');
    background-position: bottom 100% right 50%;
}

#content-section .google-banner-ads::after {
    background-image: url('../../assets/img/slide-show/google-banner-ads.png');
    background-position: bottom 100% right 50%;
    background-size: 70%;
}

#content-section .google-display-ads::after {
    background-image: url('../../assets/img/slide-show/google-display-ads.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .google-display-ads-results::after {
    background-image: url('../../assets/img/slide-show/google-display-ads-results.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .yelp-display-ads::after {
    background-image: url('../../assets/img/slide-show/yelp-display-ads.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .yelp-display-ads-results::after {
    background-image: url('../../assets/img/slide-show/yelp-display-ads-results.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .yelp-display-ads-yelp-ads::after {
    background-image: url('../../assets/img/slide-show/yelp-display-ads-yelp-ads.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .yelp-display-ads-yelp-links::after {
    background-image: url('../../assets/img/slide-show/yelp-display-ads-yelp-links.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .landing-page::after {
    background-image: url('../../assets/img/slide-show/landing-page.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .landing-page-special-offer::after {
    background-image: url('../../assets/img/slide-show/landing-page-special-offer.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .social-media-promotions::after {
    background-image: url('../../assets/img/slide-show/social-media-promotions.png');
    background-position: bottom 100% right 50%;
    background-size: 100%;
}

#content-section .boosted-content::after {
    background-image: url('../../assets/img/slide-show/boosted-content.png');
    background-position: bottom 100% right 50%;
    background-size: 100%;
}

#content-section .boosted-content-mobile::after {
    background-image: url('../../assets/img/slide-show/boosted-content-mobile.png');
    background-position: top 0 right 100%;
    background-size: 110%;
}

#content-section .boosted-content-instagram::after{
    background-image: url('../../assets/img/slide-show/boosted-content-instagram.png');
    background-position: top 0 right 100%;
    background-size: 110%;
}

#content-section .youtube-content-strategy::after {
    background-image: url('../../assets/img/slide-show/youtube-content-strategy.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .youtube-video::after {
    background-image: url('../../assets/img/slide-show/youtube-video.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .youtube-content::after {
    background-image: url('../../assets/img/slide-show/youtube-content.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .pinterest::after {
    background-image: url('../../assets/img/slide-show/pinterest.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .pinterest-post::after {
    background-image: url('../../assets/img/slide-show/pinterest-post.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .pinterest-back-links::after {
    background-image: url('../../assets/img/slide-show/pinterest-back-links.png');
    background-position: bottom 100% right 50%;
    background-size: 75%;
}

#content-section .content-linking-strategy::after {
    background-image: url('../../assets/img/slide-show/content-linking-strategy.png');
    background-position: 700px 100px;
    background-size: 90%;
}

#content-section .content-linking-strategy-silver::after {
    background-image: url('../../assets/img/slide-show/content-linking-strategy-silver.png');
    background-position: bottom 45% right -41%;
    background-size: 87%;
}

#content-section .content-linking-strategy-gold::after {
    background-image: url('../../assets/img/slide-show/content-linking-strategy-gold.png');
    background-position: bottom 50% right -50%;
    background-size: 90%;
}

#content-section .content-linking-strategy-platinum::after {
    background-image: url('../../assets/img/slide-show/content-linking-strategy-platinum.png');
    background-position: bottom 50% right -50%;
    background-size: 90%;
}

#content-section .content-linking-strategy-diamond::after {
    background-image: url('../../assets/img/slide-show/content-linking-strategy-diamond.png');
    background-position: bottom 50% right -50%;
    background-size: 90%;
}

#content-section .content-linking-strategy-diamond-preferred::after {
    background-image: url('../../assets/img/slide-show/content-linking-strategy-diamond-preferred.png');
    background-position: bottom 50% right -50%;
    background-size: 90%;
}

#content-section .key-takeaways::after {
    background-image: url('../../assets/img/slide-show/key-takeaways.png');
    background-position: bottom 100% right 75%;
    background-size: 140%;
}

#content-section .pricing::after {
    background-image: url('../../assets/img/slide-show/pricing.png');
    background-position: bottom 75% right 10%;
    background-size: 60%;
}

#content-section .case-study-1::after {
    background-image: url('../../assets/img/slide-show/case-study-1.png');
    background-position: bottom 85% right 87%;
    background-size: 115%;
}

#content-section .case-study-2::after {
    background-image: url('../../assets/img/slide-show/case-study-2.png');
    background-position: bottom 85% right 87%;
    background-size: 115%;
}

#content-section .case-study-3::after {
    background-image: url('../../assets/img/slide-show/case-study-3.png');
    background-position: bottom 85% right 87%;
    background-size: 115%;
}

#content-section .case-study-4::after {
    background-image: url('../../assets/img/slide-show/case-study-4.png');
    background-position: bottom 85% right 87%;
    background-size: 115%;
}

#content-section .case-study-5::after {
    background-image: url('../../assets/img/slide-show/case-study-5.png');
    background-position: bottom 100% right 50%;
    background-size: 60%;
}

#content-section .real-client-results::after {
    background-image: url('../../assets/img/slide-show/real-client-results.png');
    background-position: bottom 75% right 50%;
    background-size: 100%;
}

#content-section .expectations::after {
    background-image: url('../../assets/img/slide-show/expectations.png');
    background-position: bottom 50% right 20%;
    background-size: 50%;
}

#content-section .who-we-are::after {
    background-image: url('../../assets/img/partnership-slideshow/who-we-are.png');
    background-position: bottom 50% right 175px;
    /*background-size: 25%;*/
    background-size: 300px;
}

#content-section .customer-need-financially-squeezed::after {
    background-image: url('../../assets/img/partnership-slideshow/customer-need-financially-squeezed.png');
    background-repeat: no-repeat;
    background-position: bottom 50% right 200px;
    background-size: 300px;
}

#content-section .customer-need-healthcare-consumerism::after {
    background-image: url('../../assets/img/partnership-slideshow/customer-need-healthcare-consumerism.png');
    background-repeat: no-repeat;
    background-position: bottom 80% right 275px;
    background-size: 300px;
}

#content-section .customer-need-amazon-effect::after {
    background-image: url('../../assets/img/partnership-slideshow/customer-need-amazon-effect.png');
    background-repeat: no-repeat;
    background-position: bottom 84% right 125px;
    background-size: 400px;
}

#content-section .customer-need-consumer-search::after {
    background-image: url('../../assets/img/partnership-slideshow/customer-need-consumer-search.png');
    background-repeat: no-repeat;
    background-position: bottom 80% right -40px;
    background-size: 550px;
}

#content-section .customer-need-online-provider::after {
    background-image: url('../../assets/img/partnership-slideshow/customer-need-online-provider.png');
    background-repeat: no-repeat;
    background-position: bottom 65% right 100px;
    background-size: 300px;
}

#content-section .customer-need-transparency::after {
    background-image: url('../../assets/img/partnership-slideshow/customer-need-transparency.png');
    background-repeat: no-repeat;
    background-position: bottom 30px right 0;
    background-size: 505px;
}

#content-section .what-we-do::after {
    background-image: url('../../assets/img/partnership-slideshow/what-we-do.png');
    background-repeat: no-repeat;
    background-position: bottom 0 right -70px;
    background-size: 600px;
}

#content-section .how-practice-growth::after {
    background-image: url('../../assets/img/partnership-slideshow/how-practice-growth.png');
    background-repeat: no-repeat;
    background-position: bottom 60% right 100px;
    background-size: 300px;
}

#content-section .how-website-conversion-1::after {
    background-image: url('../../assets/img/partnership-slideshow/how-website-conversion-1.png');
    background-repeat: no-repeat;
    background-position: bottom 30% right 75px;
    background-size: 425px;
}

#content-section .how-website-conversion-2::after {
    background-image: url('../../assets/img/partnership-slideshow/how-website-conversion-2.png');
    background-repeat: no-repeat;
    background-position: bottom 60% right 100px;
    background-size: 350px;
}

#content-section .how-search-marketing::after {
    background-image: url('../../assets/img/partnership-slideshow/how-search-marketing.png');
    background-repeat: no-repeat;
    background-position: bottom 20% right 60px;
    background-size: 500px;
}

#content-section .how-analytics-reporting::after {
    background-image: url('../../assets/img/partnership-slideshow/how-analytics-reporting.png');
    background-repeat: no-repeat;
    background-position: bottom -160px right -100px;
    background-size: 950px;
}

#content-section .how-reputation-management::after {
    background-image: url('../../assets/img/partnership-slideshow/how-reputation-management.png');
    background-repeat: no-repeat;
    background-position: bottom -20px right -50px;
    background-size: 850px;
}

#content-section .how-practice-promoter::after {
    background-image: url('../../assets/img/partnership-slideshow/how-practice-promoter.png');
    background-repeat: no-repeat;
    background-position: bottom 65% right 50px;
    background-size: 700px;
}

#content-section .how-patient-conversion-tools::after {
    background-image: url('../../assets/img/partnership-slideshow/how-patient-conversion-tools.png');
    background-repeat: no-repeat;
    background-position: bottom 75% right -25px;
    background-size: 700px;
}

#content-section .how-listings-profile-management::after {
    background-image: url('../../assets/img/partnership-slideshow/how-listings-profile-management.png');
    background-repeat: no-repeat;
    background-position: bottom 25% right 100px;
    background-size: 400px;
}

#content-section .why::after {
    background-image: url('../../assets/img/partnership-slideshow/why.png');
    background-repeat: no-repeat;
    background-position: bottom 65% right 70px;
    background-size: 400px;
}

#content-section .why-in-house::after {
    background-image: url('../../assets/img/partnership-slideshow/why-in-house.png');
    background-repeat: no-repeat;
    background-position: bottom 65% right 100px;
    background-size: 375px;
}

#content-section .why-accountable::after {
    background-image: url('../../assets/img/partnership-slideshow/why-accountable.png');
    background-repeat: no-repeat;
    background-position: bottom 75% right 100px;
    background-size: 375px;
}

#content-section .why-ownership::after {
    background-image: url('../../assets/img/partnership-slideshow/why-ownership.png');
    background-repeat: no-repeat;
    background-position: bottom 60% right 100px;
    background-size: 400px;
}

#content-section .why-patient-conversion-tools::after {
    background-image: url('../../assets/img/partnership-slideshow/why-patient-conversion-tools.png');
    background-repeat: no-repeat;
    background-position: bottom 55% right 100px;
    background-size: 350px;
}

#content-section .our-track-record::after {
    background-image: url('../../assets/img/partnership-slideshow/our-track-record.png');
    background-repeat: no-repeat;
    background-position: bottom 125px right -40px;
    background-size: 750px;
}

#content-section .practice-growth-packages::after {
    background-image: url('../../assets/img/partnership-slideshow/practice-growth-packages.png');
    background-repeat: no-repeat;
    background-position: bottom 65% left 150px;
    background-size: 400px;
}

#content-section .integration-options::after {
    background-image: url('../../assets/img/partnership-slideshow/integration-options.png');
    background-repeat: no-repeat;
    background-position: bottom 70% left 125px;
    background-size: 475px;
}

@media only screen and ( max-width:1560px ) {
    #content-section .parent-panel.partnership::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1386px ) {
    #content-section .panel.middle-vertical-align::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1676px ) {
    #content-section .customer-need-healthcare-consumerism::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1656px ) {
    #content-section .customer-need-amazon-effect::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1752px ) {
    #content-section .customer-need-consumer-search::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1730px ) {
    #content-section .customer-need-online-provider::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1539px ) {
    #content-section .customer-need-transparency::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1632px ) {
    #content-section .what-we-do::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1629px ) {
    #content-section .how-practice-growth::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1485px ) {
    #content-section .how-website-conversion-1::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1750px ) {
    #content-section .how-website-conversion-2::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1653px ) {
    #content-section .how-search-marketing::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1864px ) {
    #content-section .how-analytics-reporting::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1580px ) {
    #content-section .how-listings-profile-management::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1785px ) {
    #content-section .how-reputation-management::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1713px ) {
    #content-section .how-practice-promoter::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1878px ) {
    #content-section .how-patient-conversion-tools::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1775px ) {
    #content-section .why::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1637px ) {
    #content-section .why-in-house::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1564px ) {
    #content-section .why-accountable::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1653px ) {
    #content-section .why-ownership::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1637px ) {
    #content-section .why-patient-conversion-tools::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1516px ) {
    #content-section .our-track-record::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1415px ) {
    #content-section .practice-growth-packages::after {
        opacity: 0.1;
    }
}

@media only screen and ( max-width:1485px ) {
    #content-section .integration-options::after {
        opacity: 0.1;
    }
}
.entry-content h2, .home-title{
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 4rem;
    /*color: #17B09B;*/
}

.small-title {
    font-size: 2.2rem;
}

.home-title {
    margin-top: 0;
}

.panel.middle-vertical-align {
    display: flex;
    align-items: center;
}

.middle-horizontal-align {
    text-align: center;
    margin-top: 0;
}

.panel {
    height: 91vh;
    background-repeat: no-repeat;
}

.btn-round {
    background-color: #f38900;
    color: #FFFFFF;
    border-radius: 2em;
    font-weight: 500;
}

.btn-round:hover {
    color: #FFFFFF;
    background-color: #F8981C;
    transition: all 0.3s ease 0s;
}

.subtitle {
    font-size: 1.8rem;
    color: #7B7B7B;
}

.inside-panel.left p {
    font-size: 1.5rem;
}

.inside-panel.left li {
    margin-bottom: 50px;
}

.inside-panel.left .btn-round {
    width: 225px;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    padding: 5px 40px;
}

.panel .row {
    margin: -160px 0 0 0;
    width: 50%;
}

.inside-panel.left {
    margin-left: 15%;
    width: 600px;
}

.inside-panel.left.right-side {
    margin-left: 100%;
}

.inside-panel.left.extended {
    width: 1000px;
}

.inside-panel.left.mid-extended {
    width: 850px;
}

.inside-panel .strapline.list-title {
    color: #F8981C;
    margin-bottom: 50px;
}

.gray-words {
    color: #C7C7C7;
}

.dark-gray-words {
    color: #8D8D8D;
}

.inside-panel.left h4 {
    font-weight: 800;
    font-size: 2.3rem;
}

.inside-panel.left h2 {
    font-weight: 800;
    /*font-size: 3.3rem;*/
    font-size: 4rem;
}

.bold-text {
    font-weight: 800;
}

.inside-panel.left h2.bigger-title {
    font-size: 4.7rem;
    margin-top: 65px;
    margin-bottom: 50px;
}

ul.top-bar-navigation {
    display: block;
    text-align: center;
}

ul.top-bar-navigation li {
    display: inline-block;
    margin-right: 35px;
}

.top-bar-navigation .btn-round {
    padding: 4px 35px;
    font-weight: 500;
}

.home-title.middle-horizontal-align, .inside-panel.left .home-title {
    color: #17B09B;
}

.strapline {
    color: #17B09B;
}

.title {
    color: #F8981C;
}

.row.three-col {
    width: 100%;
    height: 500px;
}

.row.three-col {
    margin-left: 100px;
}

.row.three-col li {
    margin-bottom: 60px;
    list-style-type: disc;
    font-size: 2rem;
    color: #F8981C;
    font-weight: 400;
}

.button-row-title-spacer {
    height: 10px;
}

.month-box {
    color: #FFFFFF;
    background-color: #17B09B;
    font-size: 0.9rem;
    font-weight: 600;
    width: 75px;
    text-align: center;
    position: relative;
    right: 0;
    display: inline-block;
    padding: 3px 3px;
    margin-left: 230px;
}

.last-list-column {
    margin-bottom: 0;
}

.last-list-item {
    margin-bottom: 0!important;
}

/********* Parent page *********/

.parent-panel .inside-panel img {
    width: 50%;
}

.entry-content .parent-panel {
    display: flex;
    align-items: center;
}

.parent-panel .row {
    margin: -80px 0 0 0;
}

.parent-panel .inside-panel h2 {
    font-weight: 800;
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: -2px;
    color: #17B09B;
}

.parent-panel .inside-panel h4 {
    color: #F88B00;
    font-size: 1.8rem;
    font-weight: 800;
    vertical-align: top;
}

.parent-panel .inside-panel {
    margin-left: 90px;
}

#content-section .parent-panel {
    height: 91vh;
    position: relative;
}

#content-section .parent-panel::after {
    content: "";
    position: absolute;
    /*background-image: url('../../assets/img/partnership-slideshow/how-website-conversion-2.png');*/
    background-repeat: no-repeat;
    /*background-position: bottom 70% right 150px;*/
    /*background-size: 25%;*/
    /*opacity: 1;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 11;
    /*height: 91vh;*/
    background-image: url('../../assets/img/slide-show/home.png');
    background-repeat: no-repeat;
    background-position: bottom 100% right -100px;
}

#content-section .parent-panel.partnership {
    position: relative;
    height: 91vh;
}

#content-section .parent-panel.partnership::after {
    content: "";
    position: absolute;
    /*background-image: url('../../assets/img/partnership-slideshow/how-website-conversion-2.png');*/
    background-repeat: no-repeat;
    /*background-position: bottom 70% right 150px;*/
    /*background-size: 25%;*/
    /*opacity: 1;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 11;
    /*height: 91vh;*/
    background-image: url('../../assets/img/partnership-slideshow/partnership-home.png');
    background-repeat: no-repeat;
    background-position: bottom 50% right 100px;
    background-size: 500px;
}

ul.bullets > li {
    list-style-type: disc!important;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 25px;
}

/******** Parent Page end **********/

#container.slide-graph, #container-graph {
    width: 78%;
    height: 700px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.button-container {
    display: inline-block;
    width: 20%;
    margin-top: 50px;

}

.highcharts-container {
    display: inline-block;
    /*vertical-align: top;*/
}

#expectations, #projections {
    /*vertical-align: top;*/
    display: block;
    margin: 200px auto 0 auto;
    /*pointer-events: auto;*/
}

/*#projections {*/
    /*!*vertical-align: top;*!*/
    /*margin-top: 50px;*/
/*}*/

#container {
    width: 100%;
}

.nav-sub-pages {
    margin-left: 25px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.hidden {
    display: none;
}

p.dark-gray-words.bold-text {
    margin-top: -20px;
}

.nav-logo img {
    height: 40px;
    width: 300px;
    text-align: center;
    margin-left: 100px;
}

.inside-panel.left h2.home-title {
    margin-bottom: 0;
    font-size: 4rem;
}

.inside-panel.left h2.title {
    margin-top: 0;
}

.inside-panel.left h5.subtitle {
    margin-top: 30px;
}

#SideNav {
    margin-top: 5px;
}

.top-logo.center h4 {
    color: #282E4E;
}

.inside-panel.left .bullets li {
    margin-bottom: 15px;
    margin-top: 15px;
}

ul.sub-bullets li {
    list-style-type: circle!important;
    margin-left: 40px;
    font-size: 1.8rem;
    color: #908989;
}

.home-title.top-title-no-gap {
    margin-top: -20px;
    margin-bottom: 5px;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.home-title.top-subtitle-no-gap {
    margin-top: 0;
    color: #F8981C;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.inside-panel.left ul.bullets.bigger-list > li{
    font-size: 2.3rem;
}

.inside-panel.left ul.bullets.even-bigger-list > li{
    font-size: 3.0rem;
}

.inside-panel.left ul.bullets.medium-list > li{
    font-size: 1.9rem;
}

ul.bullets {
    list-style-position: inside;
}

.sub-strapline.list-title {
    color: #17B09B;
    font-size: 2rem;
    font-weight: 600;
}

ul.bullets.no-list-style > li {
    list-style-type: none!important;
}

ul.bullets.no-list-style > li{
    font-weight: 400;
}

ul.bullets.no-list-style > li span.list-bold{
    font-weight: 800;
}

.inside-panel.left.full-width {
    width: 1500px;
    font-size: 1.6rem;
}

.strapline.list-title.smaller-title {
    font-size: 2.5rem;
}

.home-title.home-subtitle.middle-horizontal-align {
    font-size: 3rem;
    color: #F8981C;
    margin-top: -25px;
}

.home-title.home-subtitle.middle-horizontal-align.bigger-subtitle {
    margin-top: 30px;
    font-size: 4rem;
    margin-bottom: -60px;
}

.image-bullets > li span {
    position: relative;
    left: 25px;
}

#growth-list-silver {
    list-style-image: url('../../assets/img/partnership-slideshow/growth-package-silver.png');
}

#growth-list-gold {
    list-style-image: url('../../assets/img/partnership-slideshow/growth-package-gold.png');
}

#growth-list-platinum {
    list-style-image: url('../../assets/img/partnership-slideshow/growth-package-platinum.png');
}

#growth-list-diamond {
    list-style-image: url('../../assets/img/partnership-slideshow/growth-package-diamond.png');
}

#growth-list-diamond-preferred {
    list-style-image: url('../../assets/img/partnership-slideshow/growth-package-diamond-preferred.png');
}

em.slim {
    font-weight: 400;
}

h3.bottom-page-text {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 140px;
    font-size: 1.8rem;
}

.inside-panel.left.full-width.center-list {
    margin-left: 40%;
}

#content-section .panel.middle-vertical-align {
    position: relative;
    /*display: block;*/
    /*width: 10;*/
    /*height: 91vh;*/
}

#content-section .panel.middle-vertical-align::after {
    content: "";
    position: absolute;
    /*background-image: url('../../assets/img/partnership-slideshow/how-website-conversion-2.png');*/
    background-repeat: no-repeat;
    /*background-position: bottom 70% right 150px;*/
    /*background-size: 25%;*/
    /*opacity: 1;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 11;
}

#container-graph.silver-gold-static-graph {
    background-image: url('../../assets/img/slide-show/expectations-silver-gold.png');
    background-repeat: no-repeat;
    background-position: 275px;
    background-size: 73%;
    margin-top: -80px!important;
}

#container-graph.gold-platinum-static-graph {
    background-image: url('../../assets/img/slide-show/expectations-gold-platinum.png');
    background-repeat: no-repeat;
    background-position: 275px;
    background-size: 70%;
    margin-top: -80px!important;
}

#container-graph.silver-platinum-static-graph {
    background-image: url('../../assets/img/slide-show/expectations-silver-platinum.png');
    background-repeat: no-repeat;
    background-position: 275px;
    background-size: 70%;
    margin-top: -80px!important;
}

.invisible {
    visibility: hidden;
}

.submit-instructions {
    margin-left: 20px;
    text-align: center;
    margin-top: 0;
    color: #908989;
}

/****** Boosted Content Page *******/

/*.entry-content {*/
    /*text-align: center;*/
/*}*/
