@import "../styles/_site-variables.scss";

.marketingSolutionsInnerPage {
  .heroContent {
    @include media(">=tablet") {
      width: 492px;
      height: 330px;
      p {
        width: 90%;
      }
    }
  }

  .iconStrapline {
    img {
      max-width: 25px;
    }
    p {
      color: $primary;
      display: inline;
      font-family: "Roboto";
      font-weight: $font-weight-bold;
      font-size: $font-size-sm;
    }
    & + .innerTitle {
      h2 {
        margin-bottom: 10px;
      }
      & + .accentedParagraph p {
        color: #797979;
      }
    }
  }

  .imgResponsive {
    margin-bottom: $m1 * 1.5;
  }
}
