@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
.modal { max-width:420px;max-height:100%;background:transparent;box-shadow:none; }
.modal .contact-wrapper { padding:20px 20px 0px;  }
.modal .contact-wrapper .email { display:inline-block;margin: 0 auto;margin-left:10px;border: 3px solid #fff;padding: 15px 13px;border-radius:60px;width:20%;vertical-align: middle; }   
.modal .contact-wrapper .form-title { font-size:22px;display:inline-block;width:76%;text-align:left;vertical-align:middle;margin-left:0px;padding-left: 10px; }
.modal .geotrust { margin:0 auto;width:125px;text-align:center; }
.sticky-footer-hide { display:none;opacity: 0; }
.sticky-footer .btn, .sticky-footer .text { display:none; }
.sticky-footer .btn { background-color:#f05454;  }
.sticky-footer .row { margin:0; }
.sticky-footer i.fa { margin-right:10px;font-size:15px; }
.sticky-footer 
{ z-index:900;height:0px;position:fixed;top: 0px;width: 100%;background:rgba(38, 166, 153, 0.9);
/* border */
-webkit-box-shadow: 0px -2px 18px -4px rgba(76, 76, 76, 0.37);
-moz-box-shadow: 0px -2px 18px -4px rgba(76, 76, 76, 0.37);
box-shadow: 0px -2px 18px -4px rgba(76, 76, 76, 0.37);  
/* animation */
-moz-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;
-webkit-transition:all 0.2s ease-in-out;
}

.sticky-footer.show { height: 60px;
   /* animation */   
   -moz-transition:all 0.2s ease-in-out;
   -o-transition:all 0.2s ease-in-out;
   transition:all 0.2s ease-in-out;
   -webkit-transition:all 0.2s ease-in-out;
}
.sticky-footer.show .btn { display:inline-block;border-radius:40px;  }
.sticky-footer.show .btn:hover { background-color:#ff2d2e; }
.sticky-footer.show .text { display:inline-block;margin:0 20px;vertical-align:middle;font-size:24px;font-weight:300; }







.container { width:90%;max-width:1150px; }      
.border  { width:100%; }
.border .color1 { display:block;float:left;height:2px;width:20%;background:#f05454; }
.border .color2 { display:block;float:left;height:2px;width:20%;background:#25a79a; }
.border .color3 { display:block;float:left;height:2px;width:20%;background:#ef9422; }
.border .color4 { display:block;float:left;height:2px;width:20%;background:#903e97; }
.border .color5 { display:block;float:left;height:2px;width:20%;background:#43a047; }
.divider { height:3px;width:80px;background:#25a79a;margin:10px auto; }
sup { top: -.8em;font-weight: 300;font-size: .5em;color: #8c8c8c; }

.scrolltop { display:none;width:100%;margin:0 auto; position:fixed;bottom:80px;right:4px; }
.scroll {position:absolute;right: 26px;bottom: 20px;background:rgba(178,178,178,0.7);text-align: center;border-radius: 40px;margin: 0 0 0 0;cursor:pointer;transition: 0.5s;-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;width: 50px;height:  50px;}
.scroll:hover { background:rgba(178,178,178,1.0);transition: 0.5s;-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s; }
.scroll:hover .fa { padding-top:-10px; }
.scroll .fa {font-size:30px;transition: 0.5s;-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;line-height: 46px;}

#Hero { width:100%;height:64px;background:#292c4d; }
#Hero .logo { margin-top:12px; }
#Hero .logo img { max-width:200px; }
#Hero .phone { min-width:240px;max-width:300px;transition: .3s ease-out;float:right;font-family: 'Montserrat', sans-serif;color:#fff;text-align:center;font-size: 16px;border:2px solid #fff;border-radius:30px;margin-top:10px;line-height: 35px;}
#Hero .phone:hover { background:#ef9422;border-color:#ef9422; }
#Hero .phone a { color:inherit; }
#Hero .icon-mobile { text-align:right; }
#Hero .icon-mobile a { color:#fff; }
#Hero i {margin-top:10px;font-size:18px;border:2px solid;height:40px;width:40px;text-align: center;line-height:37px;border-radius:27px; }

#Main { font-family: 'Roboto', sans-serif;padding:50px 0; }
#Main .row {margin-bottom:0; }
#Main h1 {font-size:3.5em;font-weight: 300;color: #313777;text-align: left;letter-spacing:-1px;margin-left:auto;margin-right:auto;margin-top: 10px;width: 100%;margin-bottom: 5px;}
#Main h2 {font-size: 18px;font-weight: 300;line-height: 1.4em;color:#727272;margin-bottom:40px;margin-top: 21px;text-align: left;border-bottom: 1px dotted #d2d2d2;padding-bottom: 32px;max-width: 94%;}
#Main h3 { font-size:1.5em;font-weight:300;line-height:1.2em;color:#25a79a;width:80%;margin-left:auto;margin-right:auto;font-style:italic;text-align:center;margin-top:25px; }
.contact-wrapper {background:#25a79a;width:100%;max-width:400px;border-radius:1px;padding: 25px 25px 15px 25px;border-top: 11px solid #31cab9; }
.contact-wrapper .form-title { font-family: 'Montserrat', sans-serif;font-size: 2em;text-align: center;color:#fff;line-height: 1em;margin:20px 0 15px; }
.contact-wrapper .email { display:block;margin:0 auto;border:3px solid #fff;padding:15px 13px;border-radius:60px;max-width:64px;  }
.contact-wrapper .privacy { color:#fff;font-size:.9em;font-weight:300;line-height:1.3em;margin-top:20px;padding:0 20px; }
#Main .geotrust { margin:0 auto;width:125px;text-align:center; }

#Main  { padding:50px 0;margin-left:auto;margin-right:auto; }
#Main .title {font-size:3em;font-weight:300;color: #313788;letter-spacing:-1px;}
#Main  p {font-size: 16px;font-weight:300;color:#727272;line-height: 23px;margin:0;}
#Main .title-box { background: #f9f9f9;padding: 16px 30px 30px;margin-top: 23px;border-radius: 10px;}
#Main .plan-box { text-align:right;margin-right:50px; }
#Main .plan-box .divider-plan { display:block;height:1px;background:#ccc;margin:20px 0;width:90%;float:right; }
#Main .plan-box .left-box .title { font-weight:500;font-size:2.2em;letter-spacing:-1px;line-height:1em;text-align:right;margin:0; }
#Main .plan-box .sub-heading { font-size:1.1em;font-weight:300;color:#6B6B9D; }
#Main .disclose { text-align:right;margin-top:20px;font-weight:300;font-size:.8em;color:#adadad;margin-right:40px; }
#Main .left-box { display:inline-block;vertical-align:middle;color:#3A3A73;  }
#Main .right-box { display:inline-block;vertical-align:middle;text-align:center;color:#6B6B9D; }
#Main .right-box .number-patient { font-size:2.3em;line-height:1em;font-weight:100; }
#Main .right-box .number-patient span { font-weight:500; }
#Main .right-box .text { font-size:0.7em;font-weight:700;text-transform:uppercase; }

.divide-teal { background:#25A79A;width:6px;height:60px;margin:0 10px;display:inline-block;vertical-align:middle;  }
.divide-purple { background:#903E97;;width:6px;height:60px;margin:0 10px;display:inline-block;vertical-align:middle;  }
.divide-red { background:#F05454;width:6px;height:60px;margin:0 10px;display:inline-block;vertical-align:middle;  }

#Service { font-family: 'Roboto', sans-serif;padding-top:50px;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;background:url('/wp-content/themes/doctor-genius/assets/request-demo/img/otis-redding.png'); }
#Service .review { max-width:75%;margin:0 auto; }
#Service .divider {margin-bottom: 50px; }
#Service p { font-size:1.1em;font-weight:300;margin:0;padding-bottom:20px;width:100%;text-align:left; }
#Service .title-review { font-size:3em;font-weight:300;color: #2c2064; }

.review-section { font-family: 'Roboto', sans-serif;font-weight:300;margin:0 0 25px 0; }
.review-section p  { margin:0; }
.review .icon img { width:60px;height:60px;margin:0 20px 0 0;border-radius:100px;text-align:center;font-weight:700; }
.review .info { display:block;width:85%; }
.review .info img { margin:5px 3px 0 0; }
.review .stars { display:inline-block;vertical-align:middle;margin-right:5px; }
.review .name { font-weight:500;display:inline-block;vertical-align:middle; }

section.features { padding:40px 0; }
.features .title { font-size:3em;font-weight:100;text-align:center;color:#2b1f65; }
.features p { max-width:800px;margin:0 auto;text-align:center;font-size:18px;margin-bottom:50px;font-weight:300;color:#727272; }
.features img {display: block;margin: 0 auto; }
.features .title-review { font-size:3em; }
.features .service-wrapper { padding-top:20px; }
.features .features  .service-wrapper img { display:block;width:100%;max-width:130px;margin:0 auto; }
.features .service-wrapper .title { height:42px;font-size:1em;font-weight:300;color:#584d8e;text-align:center;margin:15px 0 40px; }

footer { background:#272D4E;color:#fff; }
footer .footer-wrap { padding: 40px 0 0; }
footer .info { font-size:20px;font-weight:100;line-height:26px; }
footer .info a { color:#ef9422; }
footer .address { font-size:1em;font-weight:100;line-height:1.5em;text-align:right;margin:0; }
footer .social-media { margin:5px 0;text-align:right; }
footer .social-media li { display:inline-block;vertical-align:middle; }
footer .title { font-size:1.5em;font-weight:300;color:#ef9422;text-align:right; }

.sub-footer { background:#1e233d;width:100%;margin:0;padding:0;line-height:50px;color:#8a8a8a; }
.sub-footer .row { margin:0;padding:0;font-weight:100; }
.sub-footer .policy  { text-align:right; }
.sub-footer .policy a  { color:inherit; }


    @media only screen and (max-width : 1130px) {
        #Main h1 { font-size:2.8em; }
    }

    @media only screen and (max-width : 992px) {    
        .modal { width:88%;max-width:360px; }
        .modal .contact-wrapper .form-title { font-size:19px; }
        .modal .contact-wrapper .email { margin-left:0; }   
        #Hero .logo { text-align:left; }
        #Main h1 { font-size:3em;margin:0 auto;text-align: center;max-width: 80%; }
        #Main h2 { font-size:1.2em;text-align:center;max-width:90%;margin:20px auto;line-height:1.3em; }
        #Main h3 { width:100%;margin-top:10px; }
        #Main p { font-size:1.2em;font-weight:100;max-width:70%;text-align:center;margin:0 auto; }
        #Main .contact-wrapper { margin:20px auto 0; }
        #Main .plan-container { margin-top:40px; }    
        #Main .title { text-align:center;margin:0; }
        #Main .plan-box { padding:30px 0 0; }
        #Main .disclose { text-align:center;margin-top:10px; }
        #Service .review { max-width:90%; }
        #Service .feature-title { margin-top:50px; }
        #Service p { width:100%; }
        #Service .divider-service { margin-bottom:0px; }
        .features img { max-width:125px; }
        footer .logo { width:70%;text-align:center;margin:0 auto; }
        footer .logo img { max-width:100%; }
        footer .social-media { text-align:center; }
        footer .address { text-align:center; }
        footer .title { text-align:center; }
        .sub-footer { line-height:30px; }
        .sub-footer .copyright { text-align:center; }
        .sub-footer .policy { text-align:center; }
        .input-field.col { padding:0 5px; }
        #jm-button { display:none; }
    }

   /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) { 
        #Main h3 { width:100%;margin-top:40px; }
        #Main .contact-wrapper .privacy { max-width:70%;text-align:center;margin-left:auto;margin-right:auto; }
    }

    @media only screen and (max-width : 600px) {
        .modal .modal-content { padding:0px; }
        .scroll { right:14px;bottom:10px; }
        #Main { padding:25px 0; }
        #Main h1 { max-width:100%;width:100%;font-size:28px;line-height:28px;font-weight:400;margin:0;text-align:center; }
        #Main h2 { max-width:100%;width:100%;font-size:15px;color:#000;margin:15px auto 0;padding-bottom:20px; }
        #Main p { max-width:100%;font-size:15px;color:#000 }
        #Main .contact-wrapper { max-width:320px;padding:5px 18px 5px;margin:25px auto 30px; }
        #Main .contact-wrapper .email { display:inline-block;margin: 0 auto;border: 3px solid #fff;padding: 15px 13px;border-radius:60px;width:20%;vertical-align: middle; }   
        #Main .contact-wrapper .form-title { font-size:19px;display:inline-block;width:76%;text-align:left;vertical-align:middle;margin-left:0px;padding-left: 10px; }
        #Main .plan-container .title { margin-top:0; }
        #Main .contact-wrapper .form-title { font-size:20px;margin:20px 0; } 
        #Main .plan-box { margin-right:20px; }
        #Main .plan-box .sub-heading { font-size:12px; }
        #Main .disclose { margin:20px 0;text-align:center;color:#000; }
        #Main .title-box { margin-top:0px; }
        #Service .title-review {font-size:34px;line-height:1.2em;margin-bottom: 20px; }
        #Service p { font-size:15px; }
        .review .icon img { display:none; }
        .review .info { width:100%; }
        .sub-footer { padding:10px 0; }  
    }   

