@import "_site-variables.scss";

.page-404 {
  .hero {
    background-image: url("/hero/404-error.jpg");
    height:100vh;
  }

  .hero h1 {
    color: #0086d6;
    font-size: 12em;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 1;
  }

  .hero h2 {
    color: #a6a5a6;
    font-size: 1.6em;
    font-family: 'Montserrat', 'sans-serif';
  }

  .hero p {
    color: #a6a6a6;
  }

  div.sm-404 img {
    margin: 15px 8px;
  }

  @media only screen and (max-width: 1024px) {
    .hero {
    background-image: url("/hero/500-error-tablet.jpg");
    height:100vh;
    }
  }
  @media only screen and (min-width:992px) and (max-width: 1024px) {
    .hero {
      background-position: 0% 32%;
    }
  }
  @media only screen and (min-width:1025px) and (max-width: 1299px) {
    .hero {
      background-image: none;
      background-color: #f0f3f4; 
      height:100vh;
    }
  }
  @media only screen and (max-width:425px){
    .hero h1 {
      font-size: 9em;
    }
  }
}