/* Background Colors - Anything with the solid background. Color rules only */
.accented-paragraph p:before {
  background-color: $primary;
}
.accent-block {
  background: linear-gradient(
    45deg,
    rgba(#0b97c1, 0.95) 0%,
    rgba(#0074cf, 0.95) 100%
  );
}

.homepage {
  .accent-block {
    background-color: transparent;
  }
}

.main-content {
  background: top/300px repeat-x url(../img/background-texture.png),
    center 50%/300px repeat-x url(../img/background-texture-flipped.png),
    center calc(50% + 300px) / 300px repeat-x url(../img/background-texture.png),
    bottom/300px repeat-x url(../img/background-texture-flipped.png);

  &:before {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
  }
}

.full-bleed {
  .full-bleed-image {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .full-bleed-slider {
    width: 100%;
  }
}

.full-bleed {
  .full-bleed-content-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.full-bleed-image-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  .full-bleed-img {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.button {
  background-color: $primary;
}

.label {
  &.mute {
    background: #f2f2f2;
    color: $primary;
  }
  &.primary {
    background: $primary;
    color: white;
  }
}

nav {
  .dropdown-menu {
    background-color: #285c94;
  }
}

.secondary-nav-stuck {
  background: url("../img/dotted-background.png");
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

  &:after {
    border-bottom: none;
  }
}
