/* Background Colors - Anything with the solid background. Color rules only */
.accent-block .accentedParagraph p:before {
  background-color: $secondary;
}

.accentedParagraph p:before,
.accented-paragraph p:before {
  background-color: $primary;
}
.accent-block {
  background-color: rgba($primary, 0.95);
}

.homepage {
  .accent-block {
    background-color: transparent;
  }
}

.main-content {
  background: url(/png/pixel-map.png);
}

.full-bleed {
  .full-bleed-image {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

.button {
  background-color: $primary;
}
