/* Components - Reusable content pieces which will probably be <Components> */

.inner-title {
  text-align: left;
  &.center {
    text-align: center;
  }
  a {
    cursor: pointer;
  }

  h2.underline {
    &.short:after {
      margin-top: 25px;
    }
    &.tall:after {
      margin-top: 42px;
    }
    &:not(.short):after {
      margin-top: 32px;
    }
    &:after {
      background-image: url("../img/underline.svg");
      content: "";
      display: block;
      height: 2px;
      background-repeat: no-repeat;
      width: 232px;
      margin: auto;
    }
  }
}

.accent-block {
  padding: 2rem;
  color: $primary-text;
  h1 {
    background: $secondary;
    display: inline-block;
    padding: 5px 15px;
  }
}

.accented-paragraph {
  margin-left: 15px;
  p {
    margin-bottom: 1rem;
    &.medium-width {
      /* this may be better suited for a column, just a test */
      width: 80%;
    }
    &:first-of-type {
      position: relative;
      &:before {
        width: 3px;
        margin-left: -15px;
        margin-top: 0.25rem;
        line-height: 1rem;
        height: 3rem;
        content: "";
        display: inline-block;
        position: absolute;
      }
    }
  }
  .link-with-icon {
    display: block;
    margin-top: 40px;
  }
}

.callout-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  sup {
    line-height: 1;
    margin-right: 5px;
  }
}

.link-with-icon {
  display: block;
  margin-top: 20px;
}
.link-icon {
  margin-right: 10px;
}

/* Panel */
.panel-row {
  align-items: flex-start;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px calc(17.5px / 2); /* difference between bootstrap col-4 width and design panel width */
  .inner-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  @include media("<=laptop") {
    margin: 20px auto 40px;
    .panel-heading {
      margin: 5px 0;
    }
  }
}

@for $headingNum from 1 through 6 {
  h#{$headingNum} {
    margin-bottom: $content-block-heading-margin;
  }
}

.spacer {
  height: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  &.trim {
    width: 90%;
    margin-right: 5%; /* needs tweaking */
    margin-left: 5%; /* needs tweaking */
  }
  &.solid {
    background: $mute;
    opacity: 0.25;
  }
  &.small {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &.large {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.button {
  background-color: $primary;
  text-align: center;
  &.flat {
    border-radius: 3px;
    padding: 0.75rem 1rem;
    &.transparent {
      border: 1px solid;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &.rounder {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    color: white;
    border-radius: 20px;
  }
  &.nav-button {
    padding: 8px 7.5%;
    border: 1px solid;
    border-radius: 6px;
    letter-spacing: 0.5px;
    &.free-demo-button {
      transition: 0.3s background-color, 0.3s border-color;

      &:hover {
        background-color: #fff;
        border-color: $primary;
        a {
          color: $primary;
          transition: 0.3s color;
        }
      }
    }
  }
  &.transparent {
    background: none;
  }
}

.request-demo-footer {
  .button {
    background: $demo-button-green;
    color: white;
  }
}
a.subtle-link {
  color: $subtle-link;
  text-decoration: underline;
}

.label {
  display: flex;
  justify-content: center;
  p {
    margin-bottom: 0;
  }
}

.events-section {
  .title-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    & > h4 {
      margin-bottom: 0;
    }
  }
  .more-events {
    width: 100px;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    a {
      color: #5a5a5a;
    }

    img {
      width: 5px;
      height: 10px;
      margin-left: 15px;
    }
  }
  img {
    width: 100%;
  }
  p {
    font-size: 19px;
    color: #5a5a5a;
  }
}

/*
* Some images from the deisgn have a blurred shadow/background
* which makes the actual width larger than the dimensions appear.
* This lets them bleed slightly out of their column space to
* accomodate. 125% is a just a rough guess
*/
.img-responsive.blur-bleed {
  width: 115%;
  transform: translateX(-6%);
  @include media("<laptop") {
    width: 100%;
    transform: translateX(0%);
  }
}
.odd-row {
  .img-responsive.blur-bleed {
    //transform: translateX(-12.5%);
    transform: translateX(-6%);
    @include media("<laptop") {
      transform: translateX(0%);
    }
  }
}
.even-row {
  .img-responsive.blur-bleed {
    transform: translateX(6%);
    @include media("<laptop") {
      transform: translateX(0%);
    }
  }
}

/* Slick Slider (external Library) */
.slick-slider .slick-dots {
  /* overrides */
  bottom: 0;
  top: 100%;

  margin-top: 40px;
  position: initial;
  margin-bottom: 55px;
  li {
    margin: 0 16px;

    button:before {
      width: 21px;
      height: 21px;
      font-size: 21px;
      color: #a9a9a9;
    }
  }
  li.slick-active button:before {
    color: #148ccb;
  }
}
