/* Text types:

Headings (inner title)
Paragragh (accented paragraph)
"Callout" (blue, bold, suually numbers, larger fontsize)
"Detail" (different font, thinner line-height, thinnger kerning

*/

/* Text - Colors and fonts - font-size, font-family, color */
@for $headingNum from 1 through 6 {
  h#{$headingNum}:not(.m-0) {
    margin-bottom: $content-block-heading-margin;
  }
}

header,
nav,
nav > a,
nav > ul > li,
nav > ul > li > a {
  color: white;
}
.white-text {
  color: white;
}
.text-accent,
.callout-heading,
.callout-link > a {
  color: $primary;
}
.callout > p {
  color: $mute;
}
.accent-block {
  color: $primary-text;
}

.inner-title .strapline {
  color: $primary;
}

.inner-title .subtitle.muted {
  color: $mute-text;
}

.callout {
  font-weight: bold;
  .callout-heading {
    font-size: 85px;
  }
  .callout-heading sup {
    text-transform: uppercase;
    font-size: 18px;
  }
}
