/* Text - Colors and fonts - font-size, font-family, color */
/* Helper classes */
.font-weight-semibold {
  font-weight: $font-weight-semibold;
}
.font-weight-thin {
  font-weight: $font-weight-thin;
}
b {
  font-weight: $font-weight-semibold !important;
}
.truncate {
  /* Defined space must also have a width defined */
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

/* Standard font sizes, families, and weights */
html {
  body {
    font-family: $font-family-base;
    font-size: $font-size-normal-text;
  }
}

/* Headings */
@for $headingNum from 1 through 6 {
  h#{$headingNum} {
    letter-spacing: -0.5px;
  }
  h#{$headingNum}:not(.m-0) {
    /* margin-bottom: $content-block-heading-margin;*/
  }
}

/* Components */

//Standard Hero
.hero {
  .accent-block {
    h1 {
      font-size: $h1-font-size;
      font-weight: $font-weight-medium;
    }
    h2 {
      @include fluid-type(
        34px,
        45px,
        $tablet,
        $laptop
      ); /* desktop - 53, tablet - 45, small - 38 */
      @include heading-font;
    }
    p {
      @include fluid-type(1.0625rem, 1.1875rem, $phone, $tablet); /* 19 - 17 */
      font-family: "Agenda";
      line-height: 1.4;
      font-weight: $font-weight-light;
      @include media("<laptop") {
        line-height: 1.1;
      }
    }
  }
}

/* Link With Icon */
.link-with-icon {
  color: $primary;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}

//Standard Accented Paragraphs
.accented-paragraph {
  p {
    @include accented-paragraph-font;
    font-size: 14px;
    //@include fluid-type(14px, 17px, $phone, $tablet);
  }
}

//Callouts
.callout {
  font-weight: $font-weight-bold;

  .callout-heading {
    font-size: $callout-heading-font-size;
    p {
      font-size: 5.3125rem;
      font-family: $font-family-inner-block-headings;
    }
    sup {
      text-transform: uppercase;
      font-size: $font-size-normal-text;
      line-height: 1.2;
    }
  }
  p {
    &.text-accent {
      font-size: 1.6875rem;
      font-weight: $font-weight-normal;
      letter-spacing: -0.75px;
    }
    &.sub-text-accent {
      color: $mute;
      font-size: 1.625rem;
      font-family: $font-family-inner-block-subtext;
      font-weight: $font-weight-medium;
      letter-spacing: -0.25px;
    }
  }
  .callout-link {
    font-size: 0.8125rem;
    font-weight: $font-weight-semibold;
  }
}

// Standard Request demo Footer

.request-demo-footer {
  .content-block {
    h2 {
      font-weight: $font-weight-light;
      font-size: 46px;
      line-height: 1;
      margin-bottom: $m1;
      span {
        font-weight: $font-weight-semibold;
      }
      @include media("<=laptop") {
        font-size: 26px;
      }
    }
    p {
      color: $demo-body-text;
    }
    a.button {
      @include fluid-type(18px, 15px, $phone, $laptop);
    }
  }
}
// Testimonial Slider
.card-content-wrapper {
  .card-copy {
    font-size: $font-size-base;
    color: $mute-text-darker;
  }
  .card-author {
    color: $primary;
    font-weight: $font-weight-semibold;
  }
  .card-location {
    font-weight: $font-weight-light;
    color: $mute-text;
  }
}

/* Buttons, Links */
a.button {
  font-size: $font-size-btn;
}
.button {
  &.flat {
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
}

/* colors */
// Helpers
.white-text {
  color: white;
}

.button {
  color: #fff;
}

a.not-a-link {
  color: inherit;
  text-decoration: none;
}
.text-accent,
.callout-heading,
.callout-link > a {
  color: $primary;
}
.callout > p {
  color: $mute;
}
.accent-block {
  color: $primary-text;
}

/* Potentially depreceated
h3.strapline {
  margin-bottom: 0;
}

*/
