//@import url("https://use.typekit.net/xmg2hgf.css");
@import "_agenda-font.css";

//@import "_include-media";
@import "_site-variables.scss";
@import "~bootstrap/scss/functions";
@import "_bootstrap-variables-customized.scss";

@import "_fluid-font-sizes.scss";
@import "_page-layout.scss";
@import "_components.scss";
@import "_backgrounds.scss";
@import "_text.scss";
@import "_helpers.scss";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

/* Overrides default Bootstrap grid gutters at specified breakpoints */
//@import "_responsive_grid_gutter.scss";

/* I'd like to move these into the component, but I can't get it working */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Undoing reboot */
p {
  margin-bottom: 0;
}

/* ~bootstrap? */
.img-responsive {
  max-width: 100%;
  margin: auto;
  display: block;
}

/* Temporary */
.events-section {
  display: none;
}

a {
  &.button {
    transition: 0.4s background-color;
    &:hover {
      text-decoration: none;
      color: $primary-text;
      background-color: $button-hover-green;
    }
  }
  &.link-with-icon {
    text-decoration: none;
  }
}
