.p-0 {
  padding: none;
}
.m-0 {
  margin: none;
}
.center {
  text-align: center;
}

/* Utility padding classes applied to inner elements, like link-with-icon. Not for rows */
.pad-sm {
  padding: $pad;
}
.pad-md {
  padding: $pad * 2;
}
.pad-lg {
  padding: $pad * 3;
}
.pad-xl {
  padding: $pad * 4;
}
