/* Page Layout - Positioning elements and general page structure*/
html,
body {
  overflow-x: auto; /* Allows 100vw to not include scrollbars */
}
header {
  position: absolute;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  &.scrolled {
    height: 80px;
  }
}

/* Secondary Header is the large icon navigation which affixes to the top of the main header on scroll */
.secondary-nav {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &.scrolled {
    height: 115px;
  }
  .icon-wrapper {
    width: 40px;
    height: 40px;
  }
  &:after {
    width: 100%;
    border-bottom: 1px solid $mute;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
  }
}

.main-content {
  background: url(/png/pixel-map.png) no-repeat,
    url(/png/pixel-map.png) bottom no-repeat;
}
.hero {
  height: 555px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-bleed-wrapper {
  position: relative;
}
.full-bleed-content-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.row {
  justify-content: center;
  align-items: center;
  &.padded {
    padding-top: 60px;
    &.short-top {
      padding-top: 30px;
    }
    &.tall-top {
      padding-top: 90px;
    }

    padding-bottom: 30px;
    &.short-bottom {
      padding-bottom: 15px;
    }
    &.tall-bottom {
      padding-bottom: 60px;
    }
  }
}
.inner-title {
  padding-top: 15px;
  padding-bottom: 15px;
}
.callout-heading {
  position: relative;
  display: inline-block;
}

.col-xl-6 {
  img {
    width: 100%;
  }
}
