/* Page Layout - Positioning elements and general page structure*/
header {
  position: absolute;
}
.hero {
  height: 555px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
