/* Page Layout - Positioning elements and general page structure*/
body {
  overflow-y: auto; /* Allows 100vw to not include scrollbars */
  overflow-x: hidden;
  width: 100%;
}
.container,
.container-fluid {
  @include media(">=desktop") {
    max-width: 1248px;
  }
}
header {
  position: fixed;
  top: 0;
  height: 120px;
  @include media("<laptop") {
    height: 75px;
  }
  z-index: 1800;
  &,
  & .container-fluid {
    width: 100%;
  }
  .demo-only {
    display: none !important;
  }
  .button.nav-button {
    width: 45%;
  }
  .logo a {
    display: block;
    .logo-holder {
      background-image: url("../img/icon/logo-white.svg");
      background-size: contain;
      height: 40px;
      max-height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: middle;

      @include media("<=laptop") {
        margin-left: 8px;
        background-position: initial;
      }
    }
  }
  .phone > a {
    display: block;
    .phone-holder {
      /* phone holder and image holder should be refactored to operate the same way/same markup */
      background-image: url("../img/icon/phone-white.svg");
      background-size: contain;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: bottom;
      display: inline-block;
    }
  }
  nav {
    height: 120px;
    @include media("<laptop") {
      height: 75px;
    }
    display: flex;
    transition: all 0.3s;
    .nav-button {
      border-color: white;
    }
    a {
      transition: all 0.3s;
    }
    ul {
      &.navbar-nav {
        position: relative;
      }
    }
    &.navbar {
      position: relative;
      @include media("<=laptop") {
        padding-left: 24px;
        padding-right: 24px;
      }
      .navbar-toggler {
        right: 24px;
        padding: 0;
        border: none;
        position: absolute;
        margin-top: -5px;
        .navbar-toggler-icon {
          background-image: url("../img/icon/nav-toggler.svg");
          height: 15px;
          width: 21px;
        }
      }

      &.main-navbar-stuck {
        box-shadow: 0 1px 1px $grid-border;
        background-color: #fff;
        @include media("<=laptop") {
          //background-color: $primary;
          background: linear-gradient(
            45deg,
            rgba(#0074cf, 0.95) 0%,
            rgba(#0074cf, 0.95) 55%,
            rgba(#0b97c1, 0.95) 100%
          );
        }

        &.stuck-midway {
          height: 100px;
          @include media("<laptop") {
            height: 70px;
          }

          .dropdown-menu {
            top: 58px;
          }
        }
        &.stuck-fully {
          height: 80px;
          @include media("<laptop") {
            height: 65px;
          }
          .dropdown-menu {
            top: 48px;
          }
        }
        a {
          color: $demo-body-text;
        }
        .logo-holder {
          background-image: url("../img/icon/logo-blue.svg");
          @include media("<=laptop") {
            background-image: url("../img/icon/logo-white.svg");
            background-position: initial;
          }
        }
        .phone-holder {
          background-image: url("../img/icon/phone-blue.svg");
        }
        .nav-button {
          border-color: $primary;
        }
        .active {
          color: $primary;
        }

        .contact-links {
          a {
            color: $primary;
          }
        }
        .dropdown-menu {
          a {
            color: $primary-text;
          }
        }
      }
      .contact-links {
        @include media("<=laptop") {
          display: none;
        }
      }
      .dropdown {
        display: inline-block;
        position: static;
      }
      .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: 150;
        left: -85px;
        // right: 30%;
        transition: opacity 0.5s;
        top: 40px;
        position: absolute;
        border: none;
        // transform: translateX(-50%);
        // margin-right: auto;
        // margin-left: auto;
        &.show {
          visibility: visible;
          opacity: 1;
        }
        .dropdown-row {
          margin-bottom: 35px;
        }
        .dropdown-row:last-child() {
          margin-bottom: 0px;
        }
        .nav-icon-wrapper {
          display: inline-block;
          width: 38px;
          .image-icon {
            width: 32px;
            height: 39px;
          }
        }
        // &:after {
        //   content: "";
        //   position: absolute;
        //   top: -8px;
        //   border-bottom: 9px solid #285c94;
        //   border-left: 9px solid transparent;
        //   border-right: 9px solid transparent;
        // }
        &.marketing-solutions-dropdown {
          &.show {
            &:after {
              left: 150px;
            }
          }
        }
        &.who-we-serve-dropdown {
          &.show {
            &:after {
              left: 300px;
            }
          }
        }
        &.resources-dropdown {
          &.show {
            &:after {
              left: 580px;
            }
          }
        }
        .dropdown-content-block {
          margin-left: 18px;
        }
      }
    }

    .container,
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        flex-basis: 20%;
        @include media("<laptop") {
          flex-basis: 75%;
        }
      }
      .main-links {
        flex-basis: 47%;

        &.navbar-collapse {
          flex-grow: 0;
        }
      }
      .contact-links {
        flex-basis: 26%;
        @include media(">=desktop") {
          flex-basis: 23%;
        }
        position: relative;
        img.phone {
          /* this should probably be yet another flexbox */
          transform: scale(1.25);
          vertical-align: text-bottom;
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;

        &.navbar-nav {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-bottom: 0;
        }
        li {
          list-style-type: none;
        }
      }
    }
  }

  &.scrolled {
    height: 80px;
  }
}
.request-demo-footer {
  a.button {
    @include media("<=tablet") {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 60px;
      width: 75%;
      max-width: 300px;
      text-align: center;
    }
  }
}

/* Secondary Header is the large icon navigation which affixes to the top of the main header on scroll */
.secondary-nav-target {
  width: 100%;
  max-width: 100%;
  height: 190px;
  transition: height 0.3s, max-width 2s;

  .secondary-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    // &.secondary-nav-stuck {
    //   width: 100%;
    //   max-width: 1248px;
    //   left: 0;
    //   height: 115px;
    // }

    &.scrolled {
      height: 115px;
    }
    .icon-wrapper {
      width: 103px;
      height: 67px;
    }
    // &:after {
    //   width: 100%;
    //   border-bottom: 1px solid $mute;
    //   display: block;
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    // }
    .panel.active {
      margin-top: 35px;

      &:after {
        background: url("../img/secondary-nav-indicator.svg");
        content: "";
        display: block;
        background-size: contain;
        background-position: center;
        width: 100%;
        margin-top: 5px;
        height: 8px;
        background-repeat: no-repeat;
      }
    }
  }

  &.secondary-nav-stuck {
    position: fixed;
    top: 80px;
    @include media("<laptop") {
      top: 65px;
    }
    z-index: 100;
    background-color: #fff;
    // width: 100%;
    // max-width: 1248px;
    max-width: 100%;
    left: 0;
    height: 115px;

    .secondary-nav {
      width: 100%;
      max-width: 1248px;
      left: 0;
      height: 115px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 37.5px;
      padding-right: 37.5px;

      .icon-wrapper {
        width: 77px;
        height: 50px;
      }
    }
  }
}

.secondary-nav-target:after {
  border-bottom: 1px solid #dedede;
  display: block;
  content: "";
  position: absolute;
  width: 96%;
  bottom: 0;
  left: 2%;
  @include media("<laptop") {
    width: 100%;
    left: 0;
  }
}

.main-content {
  position: relative;
}
html .hero {
  height: 690px;

  @include media("<laptop") {
    height: 480px;
  }
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &.shift-down {
    margin-bottom: 190px;
    @include media("<laptop") {
      margin-bottom: 0;
    }
  }
  &:after {
    display: block;
    content: "";
    background: #e7ecf1;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    @include media("<laptop") {
      height: 0;
    }
  }
  .hero-content {
    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      @include media("<laptop") {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    @include media(">=tablet") {
      .accented-paragraph p {
        &:before {
          height: 48px;
          width: 5px;
          background: #005a91;
        }
      }
    }
    @include media("<tablet") {
      margin-top: 5%;
      .accented-paragraph {
        margin-left: 0;
        p {
          &:before {
            height: 0;
          }
        }
      }
    }
    @include media("<=laptop") {
      margin-left: auto;
      margin-right: auto;
    }
    @include media("<=tablet") {
      width: 400px;
      height: auto;
    }
    @include media("<=425px") {
      width: 100%;
      max-width: 100%;
    }
  }
}
.full-bleed-wrapper {
  position: relative;
  .full-bleed-content-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .full-bleed {
    width: 100vw;
    margin-left: 50%;
    &:not(.flipped) {
      transform: translateX(-50%);
    }
    &.flipped {
      transform: translateX(-50%) scaleX(-1);
      filter: FlipH;
    }
  }
}

$top-padding: 60px;
$bottom-padding: 30px;

$top-padding-md: 30px;
$bottom-padding-md: 20px;

.row {
  justify-content: center;
  align-items: center;
  &.padded {
    padding-top: $top-padding;
    &.short-top {
      padding-top: $top-padding * 0.5;
    }
    &.tall-top {
      padding-top: $top-padding * 1.5;
    }
    padding-bottom: $bottom-padding;
    &.short-bottom {
      padding-bottom: $bottom-padding * 0.5;
    }
    &.tall-bottom {
      padding-bottom: $bottom-padding * 2;
    }
    @include media("<laptop") {
      padding-top: $top-padding-md;
      &.short-top {
        padding-top: $top-padding-md * 0.5;
      }
      &.tall-top {
        padding-top: $top-padding-md * 1.5;
      }
      padding-bottom: $bottom-padding-md;
      &.short-bottom {
        padding-bottom: $bottom-padding-md * 0.5;
      }
      &.tall-bottom {
        padding-bottom: $bottom-padding-md * 2;
      }
      & > .col-md-5 {
        margin: 20px auto;
      }
    }
  }
}
.inner-title {
  padding-top: 15px;
  padding-bottom: 15px;
}
.callout-heading {
  position: relative;
  display: inline-block;
}

.col-xl-6 {
  img {
    width: 100%;
  }
}

.navigation-wrapper {
  display: block;
}

.full-bleed-wrapper {
  @include media("<laptop") {
    padding: 0 !important;
  }
}

.row .img-container {
  @include media("<=phone") {
    padding-left: 37.5px !important;
    padding-right: 37.5px !important;
  }
}
