.container,
.container-fluid {
  @include media("<=phone") {
    padding-right: $gutter-xs / 2;
    padding-left: $gutter-xs / 2;
  }
  @include media(">phone", "<=tablet") {
    padding-right: $gutter-sm / 2;
    padding-left: $gutter-sm / 2;
  }
  @include media(">tablet", "<=laptop") {
    padding-right: $gutter-md / 2;
    padding-left: $gutter-md / 2;
  }
  @include media(">laptop", "<=desktop") {
    padding-right: $gutter-lg / 2;
    padding-left: $gutter-lg / 2;
  }
}
.row {
  @include media(">phone", "<=tablet") {
    margin-right: -$gutter-sm / 2;
    margin-left: -$gutter-sm / 2;
    > [class*="col-"] {
      padding-right: $gutter-sm / 2;
      padding-left: $gutter-sm / 2;
    }
  }
}
