/* Spacing */
$m1: 37.5px;

/* Colors */
$primary: #047bc7;
$primary-text: white;
$mute: #a2a2a2;
$mute-text: #a8a8a8;

$secondary: #005a91;

$homepage-secondary-accent: #33b2ff;

$content-block-heading-margin: 27.5px; /* This needs fixed, maybe ems? */

/* Bootstrap overrides: */
$grid-breakpoints: (
  xs: 0,
  /* Not Implemented */ sm: 576px,
  /* Not Implemented */ md: 768px,
  lg: 1300px,
  /* Not Used */ xl: 4000px,
) !default;

$container-max-widths: (
  /* Not Implemented */ sm: 540px,
  /* Not Implemented */ md: 720px,
  /* 104px per .col-1*/ lg: 1248px,
  /* Not Used */ xl: 1600px
) !default;

$grid-gutter-width: $m1 * 2 !default;
