$primary: #047bc7;
$primary-text: white;
$mute: #a2a2a2;
$mute-text: #a8a8a8;

$secondary: #005a91;

$homepage-secondary-accent: #33b2ff;

$content-block-heading-margin: 27.5px; /* This needs fixed, maybe ems? */
