/* Spacing */
$m1: 37.5px;

/* Colors */
$primary: #047bc7;
$primary-text: white;
$mute: #a2a2a2;
$mute-text: #a8a8a8;

$secondary: #005a91;

$homepage-secondary-accent: #33b2ff;

$content-block-heading-margin: 27.5px; /* This needs fixed, maybe ems? */

/* Bootstrap overrides: */
$grid-breakpoints: (
  xs: 0,
  /* Not Implemented */ sm: 576px,
  /* Not Implemented */ md: 768px,
  lg: 1300px,
  /* Not Used */ xl: 4000px,
) !default;

$container-max-widths: (
  /* Not Implemented */ sm: 540px,
  /* Not Implemented */ md: 720px,
  /* 104px per .col-1*/ lg: 1248px,
  /* Not Used */ xl: 1600px
) !default;

$grid-gutter-width: $m1 * 2 !default;
/* hompage 
    h3 x20px semibold
    h2 x45px light/semibold
    p accented x17px xroboto regular
    content-block inner-title h2 x40px medium
    content-block inner-title p x18px xroboto regular
    button 15px semibold xagenda white border->#233A72
    hero h1 xagenda x81px thin/semibold
    hero accented-paragraph p 18px xroboto regular
    panel p.panel-heading montserrat 40px bold
    panel p xagenda 18px regular 
*/

$font-family-base: agenda !default;
$font-family-p-accented: roboto !default;
$font-family-panel-heading: montserrat !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$h1-font-size: $font-size-base * 5.0625 !default;
$h2-font-size-content-block: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2.8125 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Homepage specific
$homepage-font-size-lg: $font-size-base * 1.25 !default;
$homepage-font-size-sm: $font-size-base * 0.875 !default;

$homepage-font-size-content-block-inner-title-p: $font-size-base * 1.125 !default;
$homepage-p-accented: $font-size-base * 0.8235 !default;
$homepage-panel-heading: $font-size-base * 2.5 !default;
$homepage-panel-p: $font-size-base * 1.125 !default;

$homepage-h1-font-size: $font-size-base * 5.0625 !default;
$homepage-h2-font-size: $font-size-base * 2.8125 !default;
$homepage-h2-font-size-content-block: $font-size-base * 2.5 !default;
$homepage-h3-font-size: $font-size-base * 1.25 !default;

// $homepage-h1-font-size: $font-size-base * 2.5 !default;
// $homepage-h2-font-size: $font-size-base * 2 !default;
// $homepage-h3-font-size: $font-size-base * 1.75 !default;
$homepage-h4-font-size: $font-size-base * 1.5 !default;
$homepage-h5-font-size: $font-size-base * 1.25 !default;
$homepage-h6-font-size: $font-size-base !default;

$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
