@import "_site-variables.scss";
.case-study {
  .hero {
    background-image: url("/hero/case-study.png");

    .accent-block {
      @include media(">=tablet") {
        width: 470px;
        height: 271px;
      }
      h2 {
        @include fluid-type(38px, 45px, $phone, $desktop);
        @include media(">=tablet") {
          margin-top: 20px;
        }
      }
    }
  }
  .panel {
    .icon-wrapper {
      height: 67px;
      width: 103px;
      margin-bottom: 30px;
    }
  }

  .nav-icon-wrapper,
  .footer-contact-row {
    .icon-wrapper {
      height: auto;
      width: auto;
      margin-bottom: 0;
    }
  }

  .logo-block {
    text-align: center;

    img {
      padding: 10px;
    }
  }

  .panel-quadrant {
    .img-responsive {
      padding-bottom: 30px;
      width: 100px;
    }

    h4 {
      font-size: 22px;
      font-weight: $font-weight-semibold;
    }
    p {
      font-size: 14px;
      font-weight: $font-weight-light;
    }

    .panel-quad-item {
      padding-left: 0;
    }
  }

  .inner-title {
    .subtitle {
      font-size: $h2-font-size-main;
      font-style: italic;
    }
  }

  .client-quote-block {
    text-align: center;
    font-weight: $font-weight-light;

    .client-quote {
      color: $primary;
      font-size: 26px;
      padding: 35px 0 20px;
      margin: 0 auto;
      font-weight: $font-weight-normal;
    }
    .client-author {
      color: $demo-body-text;
      font-family: $font-family-body-text;
      font-weight: $font-weight-medium;
    }
  }
  .case-study-table {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 100px);
  }
  .case-study-item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    /* There has to be a better way to do these css grid inline borders */
    &:nth-child(odd) {
      border-right: 1px solid #dfdfdf;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom: 1px solid #dfdfdf;
    }
  }
  .case-study-item p:not(.callout) {
    font-family: Roboto;
    flex-basis: 150px;
    font-size: 0.9375rem; /* 15px */
    margin: 0;
    padding: 0;
  }
  .case-study-item .callout {
    margin: 0;
    padding: 0;
    text-align: right;
    flex-basis: 150px;
    letter-spacing: -0.12rem;
    margin-right: 10px;
    /* inherit this from somewhere else */
    color: $primary;
    font-size: 2.5rem; /* 40px */
    font-weight: bold;
    font-family: $font-family-inner-block-headings;
  }
}
