@import "_site-variables.scss";
.company {
  @include media("<tablet") {
    // ----------- NAVIGATION STYLING -----------
    .logo img {
      margin-top: 40px;
    }
  }

  .nav-icon-wrapper,
  .footer-contact-row {
    .icon-wrapper {
      height: auto;
      width: auto;
      margin-bottom: 0;
    }
    // ----------- END NAVIGATION STYLING -----------
  }
}
