.company {
  .hero {
    background-image: url("/hero/about-us-hero.jpg");
    h2 {
      margin-bottom: 20px;
    }
    .hero-content {
      width: 514px;
      height: 280px;
      margin-top: 90px;
    }
  }
  .icon-wrapper {
    height: 67px;
    width: 103px;
    margin-bottom: 30px;
  }
}
