@import "_site-variables.scss";
.main-content {
  padding-bottom: 5%;
}

.demo {
  /* This is all awful and is just a hack */
  header {
    height: 80px !important;
  }

  header {
    background: $primary;
    box-shadow: 0 1px 1px #e0e0e0;
  }
}
