@import "_site-variables.scss";
.demo {
  /* This is all awful and is just a hack */
  header,
  nav.navbar {
    height: 80px !important;
  }
  .demo-only {
    display: flex !important;
    .free-demo-button,
    .free-demo-button.nav-button {
      transition: 0.3s background-color, 0.3s border-color;
      background-color: $demo-button-green;
      border-color: $demo-button-green !important;

      &:hover {
        background-color: $button-hover-green !important;
        border-color: $button-hover-green !important;
        a {
          color: $primary-text !important;
          transition: 0.3s color;
        }
      }
    }
  }
  .main-navbar-stuck {
    .free-demo-button {
      a {
        color: $primary-text !important;
        transition: 0.3s color;
      }
      &:hover {
        background-color: $button-hover-green !important;
        border-color: $button-hover-green !important;
        a {
          color: $primary-text !important;
          transition: 0.3s color;
        }
      }
    }
  }
  .main-contact-links {
    display: none;
  }
  header {
    background: $primary;
    box-shadow: 0 1px 1px #e0e0e0;
    nav.navbar.main-navbar-stuck {
      background: $primary;
    }
    .main-links .navbar-nav {
      display: none;
    }
    a,
    i {
      color: white !important;
    }
    .button.nav-button {
      padding: 8px 7.5% !important;
      border: 1px solid !important;
      border-radius: 6px !important;
      letter-spacing: 0.5px !important;
      display: block;
      width: 50%;
    }
    .logo a {
      display: block;
      .logo-holder {
        background-image: url(/icon/logo-white.svg) !important;
      }
    }
    a .phone-holder {
      background-image: url(/icon/phone-white.svg) !important;
    }
  }
  /* End awful hack danger zone */
  .p-10 {
    padding: 10px;
  }
  .hero {
    height: auto;
    padding-top: 165px;
    @include media("<desktop") {
      padding-top: 110px;
    }
    .row {
      @include media(">=desktop") {
        display: inline-block;
      }
    }

    hr {
      @include media(">=desktop") {
        margin: 40px 0 31px;
      }
    }

    padding-bottom: 50px;
    background: url("../img/pixel-map.png");
    &:before {
      position: absolute;
      content: " ";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.85);
    }
    h1 {
      font-size: 64px;
      @include fluid-type(
        40px,
        58px,
        $tablet,
        $laptop
      ); /* desktop - 53, tablet - 45, small - 38 */

      line-height: 1;
      font-weight: $font-weight-medium;
      margin-bottom: 25px;
      & + p {
        font-weight: $font-weight-light;
        color: #707070;
        font-size: 18px;
        margin-bottom: 20px;
        @include media("<desktop") {
          padding: 0 3%;
          text-align: center;
        }
      }
      @include media("<desktop") {
        padding: 0 1%;
        font-size: 50px;
        text-align: center;
      }
      @include media("<=tablet") {
        font-size: 35px;
      }
    }
    .inner-title {
      h2 {
        margin-bottom: 10px;
        font-weight: $font-weight-medium;
        @include media("<=desktop") {
          font-size: 45px;
        }
        // @include fluid-type(
        //   $h2-font-size-main * 0.65,
        //   $h2-font-size-main,
        //   $phone,
        //   $tablet
        // ); //font-size: $h2-font-size-main;
      }
      .accented-paragraph p {
        font-size: 17px;
      }
    }
  }
  .inner-title {
    h2 {
      @include media("<=desktop") {
        font-size: 45px;
      }
    }
  }

  .plan-details {
    position: relative;
    padding: 20px 20px 20px 0;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;

    .title {
      width: 65%;
      padding-right: 20px;
      text-align: right;
      margin-bottom: 0;
      line-height: 1;
    }
    .stripe {
      width: 5%;
      height: 70px;
      border-right: 5px solid #0074cf;
    }
    .details {
      width: 30%;
      padding-left: 20px;
      right: 0;
      text-align: center;
      margin-bottom: 0;
      line-height: 1;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .plan-details h3,
  .plan-details h4 {
    font-family: "Agenda", sans-serif;
    font-size: 40px;
    font-weight: $font-weight-normal;
  }
  .plan-details h3 {
    font-family: "Agenda", sans-serif;
    line-height: 0.8;
  }
  .plan-details h4 {
    font-family: montserrat, sans-serif;
    line-height: 0.75;
    font-weight: $font-weight-medium;
  }

  .hero h1 + p,
  .fine-print,
  .details p {
    font-family: Roboto;
  }
  .fine-print {
    font-size: 12px;
    color: #aeaeae;
  }
  .plan-details .title p {
    font-weight: $font-weight-light;
    color: #707070;
  }
  .plan-details .details p {
    font-weight: $font-weight-normal;
    font-size: 11px;
    text-transform: uppercase;
    color: #0074cf;
  }
  .contact-form-container {
    @include media("<desktop") {
      padding-bottom: 50px;
    }
  }
  .contact-form {
    height: 620px;
    @include media("<=368px") {
      height: 675px;
    }
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    background: white;

    .header {
      height: auto;
      background: linear-gradient(to right, #0074cf, #1094fe);
      padding: 20px 60px 15px;
      line-height: 1;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      h3 {
        color: white;
        font-size: 28px;
        font-weight: $font-weight-normal;
        margin-bottom: 0;
      }
    }
    .fine-print {
      font-size: 12px;
      color: #707070;
      line-height: 1.5;
      width: 80%;
      margin-bottom: 20px;
    }

    input,
    button[type="submit"] {
      display: block;
      margin-top: 20px;
      width: 100%;
      &:hover {
        background-color: $button-hover-green;
      }
    }
    input {
      &::placeholder {
        color: #a4a4a4;
      }
      &[type="text"],
      &[type="email"],
      &[type="phone"] {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: $font-weight-light;
        height: 45px;
        background: #f5f5f5;
        border: none;
        border-radius: 4px;
        text-indent: 20px;
      }
    }
    button[type="submit"] {
      height: 45px;
      width: 175px;
      margin: 30px auto;
      font-weight: $font-weight-semibold;
      font-size: 15px;
      background: $demo-button-green;
      color: white;
      box-shadow: none;
    }
    .form-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      & > div,
      & > div > form {
        width: 100%;
      }
    }
    .form-response {
      position: absolute;
      right: -225px;
      bottom: 100px;
    }
  }
  .main-content {
    background: url("../img/squares-background.png");
    background-size: 4px;
    padding-bottom: 5%;
  }
  .review {
    display: flex;
    align-items: center;
    @include media("<desktop") {
      align-items: flex-start;
    }
    .body {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      @include media("<desktop") {
        margin-left: 28px;
      }
      @include media("<=tablet") {
        width: 100%;
      }
      .stars {
        flex-basis: 200px;
        margin-right: 10px;
        margin-bottom: 20px;
        img {
          margin-right: 10px;
          width: 25px;
        }
      }
      .date {
        font-family: "Roboto", sans-serif;
        color: #707070;
        line-height: 2;
      }
      .content {
        width: 100%;
        p {
          margin-bottom: 1rem;
          color: #707070;
          font-weight: $font-weight-light;
          font-size: 17px;
        }
      }
    }
    .author {
      width: 20%;
      text-align: center;
      font-size: 14px;
      font-weight: $font-weight-normal;
      color: #707070;
      @include media("<tablet") {
        display: none;
      }
      .portrait {
        border-radius: 50%;
        // max-width: 100%;
        max-width: 90px;
        width: 90px;
        @include media("<desktop") {
          width: 85%;
        }
        // padding-left: 50px;
        // padding-right: 50px;
        margin-bottom: 20px;
      }
    }
  }

  .content-block {
    .inner-title {
      h2 {
        @include media("<desktop") {
          // padding: 0 1%;
          // font-size: 50px;
          text-align: center;
        }
      }
    }
  }

  .our-plans-chart {
    .fine-print {
      @include media("<desktop") {
        text-align: center;
      }
    }
  }

  .demo-plans-row {
    .our-plans-text,
    .our-plans-chart {
      @include media(">=desktop") {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
    }
    .our-plans-section {
      @include media(">=desktop") {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .disappear {
    @include media("<=tablet") {
      display: none;
    }
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #cef;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  .mobile-review-head,
  div.mobile-review-head {
    @include media(">=tablet") {
      display: none;
    }
  }
  div.stars,
  div.date {
    @include media("<tablet") {
      display: none;
    }
  }

  p.mobile-name,
  div.mobile-stars,
  div.mobile-date,
  .mobile-review-head {
    width: 100%;
  }

  .mobile-review-head {
    margin-bottom: 10px;
  }

  .mobile-stars img {
    margin-right: 5px;
  }

  .portrait-container {
    padding: 0px 20px;
  }
  .bio-container {
    padding-left: 40px;
  }
  p.mobile-name,
  div.mobile-date p {
    color: #707070;
    font-weight: $font-weight-light;
    font-size: 17px;
  }
  p.mobile-name {
    font-weight: 600;
  }
  @media only screen and (max-width: 374px) {
    .portrait-container,
    p.mobile-name,
    div.mobile-date p,
    .mobile-stars {
      text-align: center;
    }
    .demo .bio-container {
      padding: 0;
    }
  }
}
