@import "_site-variables.scss";

.event-post {
  .hero {
    background-position: center 18%;
  }
  .hero-overlay {
    height: 690px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55% 70%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
  }
  .hero-padding {
    width: 100%;
    height: 90px;
  }
  .hero h1 {
    font-size: 71px;
    font-weight: $font-weight-medium;
    margin-top: 0;
  }
  .hero h2 {
    font-size: 42px;
    font-weight: $font-weight-normal;
    margin-top: 0 !important;
  }
  .hero a {
    font-size: 15px;
  }
  .continue-edu-class {
    text-transform: initial;
    display: inline-block;
    font-size: 15px;
  }
  .register-now-btn {
    background-color: $demo-button-green;
  }
  .event-details h3 {
    color: $primary;
    font-size: 45px;
    font-weight: $font-weight-medium;
  }
  .event-details p {
    font-family: $font-family-body-text;
    font-size: 18px;
  }
  .event-date p {
    font-size: 23px;
    font-family: $font-family-body-text;
    color: #fff;
  }
  .event-date .card {
    width: 482px;
    min-height: 185px;
    background-color: #0074cf;
  }
  .card-body {
    margin-top: -$pad / 2;
  }
  #webinar-location {
    margin-top: 0;
  }
  .card-body p {
    margin-top: $pad / 2;
  }
  .listed-items {
    align-items: start;
  }
  .listed-items h2,
  .speaker-details h2,
  .speaker-details h3,
  .dg-marketing-solutions h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: $font-weight-medium;
  }
  .listed-items h2:nth-of-type(2) {
    margin-top: $m1 * 2.5;
  }
  .listed-items ul {
    padding-left: 10px;
  }
  .listed-items li {
    font-size: 18px;
    font-weight: $font-weight-normal;
    font-family: $font-family-body-text;
    margin: $pad * 1.2;
  }
  .listed-items .content-image img {
    float: right;
    max-width: 100%;
  }
  .listed-items h2 {
    margin-bottom: $pad * 1.5;
  }
  .speaker-profiles {
    justify-content: start;
  }
  .speaker-profiles p {
    font-size: 14px;
    font-weight: $font-weight-medium;
    text-align: center;
    margin-top: $pad;
  }
  .speaker-profiles img {
    width: 146px;
  }
  .dg-marketing-solutions h2 {
    text-align: center;
  }
  .dg-dictionary {
    padding-top: $m1;
  }
  .dg-dictionary h4 {
    font-size: 23px;
    color: $primary;
    font-weight: $font-weight-medium;
    margin-bottom: 0;
  }
  .dg-dictionary p {
    font-size: 18px;
    font-family: $font-family-body-text;
    margin-bottom: $pad;
  }
  .request-demo-footer .button {
    background-color: #0074cf;
  }
  .request-demo-footer .button:hover {
    background-color: $secondary;
  }
  .event-date .card {
    margin: auto;
  }
  .request-demo-footer .content-block p {
    font-size: 17px;
  }

  @include media(">=laptop") {
    .hero .titles {
      margin: 10px 0 $m1 * 1.5 0;
    }
    .hero .container-fluid > .row {
      justify-content: flex-start;
    }
    .dg-dictionary .col-lap-6:last-child {
      padding-left: $m1 * 2.5;
    }
    .request-demo-footer {
      padding-bottom: 60px;
    }
    header .logo a .logo-holder {
      background-image: url("../img/icon/logo-blue.svg");
    }
    nav .main-links a,
    nav .contact-links a,
    header nav.navbar.main-navbar-stuck a {
      color: $primary;
    }
    header .phone > a .phone-holder {
      background-image: url("../img/phone-blue.svg");
    }
    .button.nav-button {
      border: 1px solid $primary;
    }
    nav.main-navbar-stuck .free-demo-button a {
      color: #fff !important;
    }
    nav.main-navbar-stuck .free-demo-button {
      background-color: $primary;
    }
    header .dropdown-row a {
      color: $primary-text !important;
    }

    nav.main-navbar-stuck .button.nav-button.free-demo-button:hover {
      color: $primary !important;
      background-color: $primary-text !important;
    }

    nav.main-navbar-stuck .button.nav-button.free-demo-button a:hover {
      color: $primary !important;
    }
    .button.nav-button.free-demo-button:hover {
      background-color: $primary !important;
      border-color: $primary !important;
    }
    .button.nav-button.free-demo-button:hover a {
      color: #fff !important;
    }
    .hero-overlay {
      background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.2) 0,
        #fff 65%
      );
    }
    .main-content {
      background: top/300px repeat-x url("../img/background-texture.png"),
        center 100%/300px repeat-x url("../img/background-texture-flipped.png");
    }
    .speaker-profiles .col-lap-3:nth-child(5),
    .speaker-profiles .col-lap-3:nth-child(6),
    .speaker-profiles .col-lap-3:nth-child(7),
    .speaker-profiles .col-lap-3:nth-child(8),
    .speaker-profiles .col-lap-3:nth-child(9),
    .speaker-profiles .col-lap-3:nth-child(10),
    .speaker-profiles .col-lap-3:nth-child(11),
    .speaker-profiles .col-lap-3:nth-child(12),
    .speaker-profiles .col-lap-3:nth-child(13),
    .speaker-profiles .col-lap-3:nth-child(14),
    .speaker-profiles .col-lap-3:nth-child(15),
    .speaker-profiles .col-lap-3:nth-child(16) {
      margin-top: 5%;
    }
  }

  @include media(">laptop", "<desktop") {
    .speaker-profiles img {
      width: 110px;
    }
  }

  @include media("<laptop", ">=tablet") {
    .hero h1 {
      font-size: 54px;
      font-weight: $font-weight-medium;
      margin-top: 0 !important;
      text-align: center;
    }
    .hero h2 {
      font-size: 31px;
      font-weight: $font-weight-normal;
      margin-top: 0 !important;
      text-align: center;
    }
    .navigation-wrapper {
      background-color: $primary;
    }
    header .logo a .logo-holder {
      background-image: url("../img/icon/logo-white.svg");
    }
    .register-now-btn-holder,
    .continue-edu-class-holder {
      text-align: center;
      margin: $pad 0;
    }
    .event-details h3,
    .event-details p {
      text-align: center;
    }
    .event-date {
      margin-top: $pad * 2;
    }
    .listed-items h2:nth-of-type(2) {
      margin-top: $m1 * 1.5;
    }
    .speaker-details h2,
    .speaker-details h3 {
      text-align: center;
    }
    .speaker-details h3 {
      margin-bottom: $m1;
    }
    .col-sm-12.col-md-6.col-lap-3 {
      margin-bottom: $m1 * 1.5;
    }
    .request-demo-footer .content-block h2 {
      font-size: 45px;
      text-align: center;
    }
    .request-demo-footer .content-block p {
      font-size: 17px;
      font-family: $font-family-body-text;
    }
    .hero-overlay {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  @include media("<tablet") {
    .hero h1 {
      font-size: 33px;
      font-weight: $font-weight-medium;
      margin-top: 0 !important;
      text-align: center;
    }
    .hero h2 {
      font-size: 20px;
      font-weight: $font-weight-normal;
      margin-top: 0 !important;
      text-align: center;
    }
    .navigation-wrapper {
      background-color: $primary;
    }
    header .logo a .logo-holder {
      background-image: url("../img/icon/logo-white.svg");
    }
    .register-now-btn-holder,
    .continue-edu-class-holder {
      text-align: center;
      margin: $pad * 2 0;
    }
    .event-details h3,
    .event-details p {
      text-align: center;
    }
    .event-details p {
      font-size: 16px;
    }
    .event-date .card {
      width: 311px;
      min-height: 121px;
      height: auto;
      margin-top: $pad;
    }
    .event-date p {
      font-size: 16px;
    }
    .card-body {
      margin-top: 0;
    }
    .card-body p {
      margin: $pad / 2;
    }
    .listed-items h2 {
      font-size: 24px;
    }
    .listed-items li {
      font-size: 16px;
    }
    .listed-items h2:nth-of-type(2) {
      margin-top: $m1 * 1.2;
    }
    .speaker-details h2,
    .speaker-details h3 {
      text-align: center;
    }
    .speaker-details h3 {
      margin-bottom: $pad * 1.5;
    }
    .col-sm-12.col-md-6.col-lap-3:not(:last-child) {
      margin-bottom: $m1;
    }
    .col-sm-12.col-md-6.col-lap-3:last-child {
      margin-bottom: $m1 / 2;
    }
    .request-demo-footer .content-block h2 {
      font-size: 30px;
      text-align: center;
    }
    .request-demo-footer .content-block p {
      font-size: 17px;
      font-family: $font-family-body-text;
    }
    .hero-overlay {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  @include media("<phone") {
    .card-text {
      text-align: center;
    }
    .event-date .card {
      width: 100vw;
    }
  }

  @media (min-width: 992px) and (max-width: 1045px) {
    .card-body {
      padding-left: 3%;
    }
  }

  @media (min-width: 425px) and (max-width: 425px) {
    .event-date .card {
      width: initial;
      height: initial;
    }
  }
}
