@import "_site-variables.scss";
@import "_page-layout.scss";
@import "_components.scss";
@import "_backgrounds.scss";
@import "_text.scss";
@import "_helpers.scss";

/* Bootstrap? */
.img-responsive {
  max-width: 100%;
  margin: auto;
}
/*
* Some images from the deisgn have a blurred shadow/background
* which makes the actual width larger than the dimensions appear.
* This lets them bleed slightly out of their column space to
* accomodate. 125% is a just a rough guess
*/

.img-responsive.blur-bleed {
  max-width: 125%;
  transform: translateX(-12.5%);
}
