.homepage {
  .blur-bleed {
    /* homepage images are slightly larger, meaning they should bleed slightly less */
    max-width: 120%;
    transform: translateX(-10%);
  }

  .marketing-dashboard-background {
    background: url("../img/full-bleed-bg-slanted.png") 50% 50% no-repeat;
    height: 800px;
    background-position: 46% center;
  }

  .hero {
    height: 740px;
    background-image: url("/hero/homepage-option-1.png");

    .accent-block {
      position: relative;
      .border-horizontal {
        width: 14px;
        position: absolute;

        &.border-top-left {
          border-top: 4px solid #fff;
          top: 0;
          left: 0;
        }

        &.border-top-right {
          border-top: 4px solid #fff;
          top: 0;
          right: 0;
        }

        &.border-bottom-left {
          border-bottom: 4px solid #fff;
          bottom: 0;
          left: 0;
        }

        &.border-bottom-right {
          border-bottom: 4px solid #fff;
          bottom: 0;
          right: 0;
        }
      }

      .border-vertical {
        height: 14px;
        position: absolute;

        &.border-left-top {
          border-left: 4px solid #fff;
          top: 0;
          left: 0;
        }

        &.border-right-top {
          border-right: 4px solid #fff;
          top: 0;
          right: 0;
        }

        &.border-left-bottom {
          border-left: 4px solid #fff;
          bottom: 0;
          left: 0;
        }

        &.border-right-bottom {
          border-right: 4px solid #fff;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

/* TODO START- Homepage border in the hero - need to fix this */
// .homepage .hero .accent-block {
//   position: relative;
//   border: solid 2px $primary-text;
// }
// .homepage .hero .accent-block::before,
// .homepage .hero .accent-block::after {
//   position: absolute;
//   background-color: inherit;
//   content: "";
//   z-index: 1;
// }
// .homepage .hero .accent-block::before {
//   width: 400px;
//   left: calc(50% - 200px);
//   height: calc(100% + 4px);
//   top: -2px;
// }
// .homepage .hero .accent-block::after {
//   height: 100px;
//   left: -2px;
//   width: calc(100% + 4px);
//   top: calc(50% - 50px);
// }
// .homepage .hero .accent-block > * {
//   position: relative;
//   z-index: 2; /* ensure any child elements sit above pseudos */
// }
/* TODO END - Homepage border in the hero - need to fix this */
