@import "_global-styles.scss";

.marketing-solutions-inner {
  .hero {
    background-image: url("/hero/marketing-solutions-subpage.jpg");
  }
  .hero-content {
    @include media(">=desktop") {
      width: 4920px;
      height: 330px;
    }
    @include media(">=laptop") {
      p {
        width: 90%;
      }
    }
  }

  .icon-strapline {
    img {
      max-width: 25px;
    }
    p {
      color: $primary;
      display: inline;
    }
    & + .inner-title {
      h2 {
        margin-bottom: 10px;
      }
      & + .accented-paragraph p {
        color: #797979;
      }
    }
  }
}
