@import "_site-variables.scss";

.marketing-solutions-inner {
  img[src="/static/1f0f302834cf259711156fa4b4e73819/c5e16/event-building-3.webp"] {
    display: none;
  }
  .hero-content {
    @include media(">=tablet") {
      width: 492px;
      height: 330px;
      p {
        width: 90%;
      }
    }
  }

  .icon-strapline {
    img {
      max-width: 25px;
    }
    p {
      color: $primary;
      display: inline;
    }
    & + .inner-title {
      h2 {
        margin-bottom: 10px;
      }
      & + .accented-paragraph p {
        color: #797979;
      }
    }
  }
}
