@import "_site-variables.scss";

.marketing-solutions {
  .hero {
    background-image: url("../img/hero/marketing-solutions.jpg");
    @include media("<=tablet") {
      background-position: 84% 50%;
    }
    .hero-content {
      @include media(">=tablet") {
        width: 490px;
        height: 295px;
        p {
          width: 90%;
        }
      }
    }
  }
  .check-plans-background-image {
    height: 475px;
    background: url("../img/our-clients-fullbleed-image.png") no-repeat;
    background-position: 40%;
    @include media("<laptop") {
      background-position: 45%;
    }
  }
  .lighthouse-image {
    width: 110%;
    max-width: 110%;
    @include media("<laptop") {
      width: 100%;
    }
  }
  .proven-results-row {
    .col-sm-6:first-of-type {
      .content-block {
        height: 285px;
        width: 430px;
        margin-left: 60px;
        margin-right: 75px;
      }
    }
    .col-sm-6:last-of-type {
      img {
        transform: translateX(-15%);
      }
    }
  }
  .dashboard-row {
    .col-sm-6:first-of-type {
      img {
        max-width: 115%;
      }
    }
    .col-sm-6:last-of-type {
      .content-block {
        width: 355px;
        height: 260px;
        margin-left: 120px;
      }
    }
  }
}
