@import "_site-variables.scss";

.our-clients {
  .hero {
    background-image: url("/hero/our-clients.png");
    height: 690px;
    .hero-content {
      margin-top: 50px;
      width: 630px;
      height: 330px;
      h1 {
        padding: 2px 12px;
      }
      h2 {
        margin-top: 10px;
      }
    }
    .accented-paragraph {
      width: 84%;
    }
  }
  .thin-heading {
    padding-left: 20%;
    padding-right: 20%;
  }
  .inner-title {
    .subtitle {
      font-size: 29px;
    }
  }
  .content-block .accented-paragraph p {
    margin-bottom: 2rem;
  }
  .case-study-container {
    h3 {
      font-size: $h2-font-size-main;
    }
  }
  .icon-wrapper {
    height: 67px;
    width: 103px;
  }
  .case-study-table {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 100px);
  }
  .case-study-item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    /* There has to be a better way to do these css grid inline borders */
    &:nth-child(odd) {
      border-right: 1px solid #dfdfdf;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom: 1px solid #dfdfdf;
    }
  }
  .case-study-item p:not(.callout) {
    font-family: Roboto;
    flex-basis: 150px;
    font-size: 0.9375rem; /* 15px */
    margin: 0;
    padding: 0;
  }
  .case-study-item .callout {
    margin: 0;
    padding: 0;
    text-align: right;
    flex-basis: 150px;
    letter-spacing: -0.12rem;
    margin-right: 10px;
    /* inherit this from somewhere else */
    color: $primary;
    font-size: 2.5rem; /* 40px */
    font-weight: bold;
    font-family: $font-family-inner-block-headings;
  }
  .check-plans-background-image {
    height: 475px;
    background: url("/png/our-clients-fullbleed-image.png") no-repeat;
    background-position: 40%;
  }
}
