@import "_site-variables.scss";
.partnerships {
  .tablet-padded-row {
    @include media("<=1248px") {
      padding-left: 6%;
      padding-right: 6%;
    }
  }

  .nav-icon-wrapper,
  .footer-contact-row {
    .icon-wrapper {
      height: auto;
      width: auto;
      margin-bottom: 0;
    }
  }
  .inner-title {
    .subtitle {
      font-size: 29px;
    }
  }
}
