@import "_site-variables.scss";
.partnerships {
  .hero {
    background-image: url("/hero/partnerships-hero.jpg");
    h2 {
      margin-bottom: 20px;
    }
    .hero-content {
      @include media(">=tablet") {
        width: 490px;
        height: 300px;
      }
    }
  }

  .icon-wrapper {
    height: 150px;
    width: 200px;
    // margin-bottom: 30px;
    .img-icon {
      max-width: 100%;
    }
  }

  .panel {
    margin: 0 0 20px 0;
  }

  .nav-icon-wrapper,
  .footer-contact-row {
    .icon-wrapper {
      height: auto;
      width: auto;
      margin-bottom: 0;
    }
  }
  .thin-heading {
    padding-left: 18%;
    padding-right: 18%;
  }
  .inner-title {
    .subtitle {
      font-size: 29px;
    }
  }
  .content-block .accented-paragraph p {
    margin-bottom: 2rem;
  }
}
