@import "_site-variables.scss";

.study-archive {
  .hero {
    background-image: url("/hero/the-study.png");
  }
  .blog-heading {
    color: $blog-page-headings-color;
    margin-bottom: 0;
    & + .spacer {
      margin-bottom: 30px;
    }
    &.m-2 {
      margin-left: 0;
    }
  }
  .category-image {
    position: relative;
    .label {
      position: absolute;
      left: 15px;
      bottom: 15px;
      width: 200px;
    }
  }

  .latest-post,
  .popular-post {
    width: 100%;
    position: relative;
    display: flex;

    p {
      margin-bottom: 0;
    }
    img {
      max-width: 100%;
    }
    .content-holder {
      overflow: hidden;
      text-align: left;
    }
  }
  .latest-post {
    justify-content: space-between;
    height: 220px;
    margin-bottom: 70px;
    .featured-image-holder {
      width: 300px;
    }
    .content-holder {
      width: 415px;
      padding-top: 20px;
      padding-bottom: 30px;
      p {
        font-size: 13px;
        font-family: Roboto, sans-serif;
      }
      .details {
        position: relative;
        display: flex;
        justify-content: flex-start;

        .date {
          color: $blog-page-date-color;
          margin-right: 10px;
        }
        .label {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      h4 {
        font-size: 20px;
        color: black;
        font-weight: $font-weight-semibold;
        margin-bottom: 30px;
        margin-top: 20px;
      }
      .excerpt {
        color: $blog-page-excerpt-text-color;
        line-height: 1.4em;
        max-height: 85px;
        overflow: hidden;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    img {
      margin-bottom: 3px;
    }
    p {
      font-family: Roboto;
      font-size: 16px;
      color: #9a9a9a;
      margin-bottom: 0;
      &.active {
        color: #031453;
      }
    }
  }
  .social-icons-wrapper {
    background: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    .social-icon-detail {
      width: 100px;
      height: 95px;
      border-radius: 15px;
      border: 1px solid #d1d1d1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 15px;
      img {
        height: 30px;
        margin-bottom: 5px;
      }
      p {
        color: #2e6097;
        margin-bottom: 0;
        font-family: Roboto;
        font-size: 16px;
      }
      .social-unit {
        font-size: 10px;
        font-weight: light;
      }
    }
  }
  .newsletter-signup {
    margin-top: 40px;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
    border-radius: 16px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px 50px 25px;
    .newsletter-heading {
      color: #031453;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      margin-bottom: 0;
      line-height: 1.2;
    }
    input {
      width: 100%;
      background: white;
      margin: auto;
    }
    .button {
      color: white;
      text-transform: uppercase;
      font-weight: $font-weight-semibold;
    }
  }

  .popular-post {
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
    .image-holder {
      width: 115px;
      margin-right: 25px;
    }
    .content-holder {
      width: 240px;
      .title {
        color: #031453;
        font-size: 18px;
        margin-bottom: 0;
      }
      .date {
        color: #b9b9b9;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  .category-section {
    .label {
      padding: 5px;
      min-width: 200px;
      margin-bottom: 15px;
    }
  }
}
