@import "_site-variables.scss";

.the-study {
  @include media("<desktop") {
    .hidden {
      display: none;
    }
  }
  .hero {
    background-image: url("../img/hero/the-study.jpg");
    .hero-content {
      @include media(">=tablet") {
        width: 465px;
        height: 290px;
      }
      h2 {
        @include fluid-type(40px, 90px, $phone, $desktop);
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
  }
  .blog-heading {
    color: $blog-page-headings-color;
    margin-bottom: 0;
    &.m-2 {
      margin-left: 0;
    }
  }
  .spacer {
    margin-bottom: 30px;
  }
  .category-image {
    position: relative;
    .label {
      position: absolute;
      left: 15px;
      bottom: 15px;
      width: 200px;
    }
  }

  .latest-post,
  .popular-post {
    width: 100%;
    position: relative;
    display: flex;

    p {
      margin-bottom: 0;
    }
    img {
      max-width: 100%;
    }
    .content-holder {
      text-align: left;
    }
  }
  .responsive-tab-trigger {
    h3 {
      display: inline-block;
      margin-right: 25px;
    }
    .active {
      &:after {
        display: block;
        background: #2e6097;
        height: 4px;
        width: 100%;
        content: "";
      }
    }
  }
  .latest-post {
    justify-content: space-between;
    height: auto;
    margin-bottom: 70px;
    .featured-image-holder {
      height: auto;
      overflow: hidden;
      margin-right: 2%;
      display: flex;
      align-items: center;
      > a {
        display: block;
        width: 100%;
      }
    }
    .content-holder {
      padding-top: 15px;
      padding-bottom: 20px;
      p {
        font-size: 13px;
        font-family: Roboto, sans-serif;
      }
      .details {
        position: relative;
        display: flex;
        justify-content: flex-start;

        .date {
          color: $blog-page-date-color;
          margin-right: 10px;
        }
        .label {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      h4 {
        font-size: 20px;
        color: #031453;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 15px;
        line-height: 1.1;
      }
      .excerpt {
        color: $blog-page-excerpt-text-color;
        line-height: 1.4em;
      }
    }
  }
  .latest-post {
    .featured-image-holder {
      width: 40%;
    }
    .content-holder {
      width: 55%;
    }
  }
  .popular-post {
    .featured-image-holder {
      width: 35%;
    }
    .content-holder {
      margin-left: 5%;
      width: 60%;
    }
  }
  .latest-post,
  .popular-post {
    @include media("<desktop") {
      margin-bottom: 25px;
      .featured-image-holder {
        width: 45%;
      }
      .content-holder {
        width: 50%;
        .title {
          @include fluid-type(20px, 32px, $phone, $laptop);
        }
        .excerpt {
          @include fluid-type(14px, 18px, $phone, $laptop);
        }
        .details,
        .details p {
          @include fluid-type(9px, 14px, $phone, $laptop);
        }
      }
    }
    @include media("<tablet") {
      display: block;
      height: auto;
      margin-bottom: 40px;
      .content-holder,
      .featured-image-holder {
        width: 100%;
      }
      .content-holder {
        padding-bottom: 5px;
        margin-left: 0;
      }
      .featured-image-holder {
        height: auto;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    img {
      margin-bottom: 3px;
    }
    p {
      font-family: Roboto;
      font-size: 16px;
      color: #9a9a9a;
      margin-bottom: 0;
      &.active {
        color: #031453;
      }
    }
  }
  .stay-connected {
    @include media("<desktop") {
      display: none;
    }
  }
  .social-icons-wrapper {
    background: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    .social-icon-detail {
      width: 100px;
      height: 95px;
      border-radius: 15px;
      border: 1px solid #d1d1d1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 15px;
      img {
        height: 30px;
        margin-bottom: 5px;
      }
      p {
        color: #2e6097;
        margin-bottom: 0;
        font-family: Roboto;
        font-size: 16px;
      }
      .social-unit {
        font-size: 10px;
        font-weight: light;
      }
    }
  }
  .newsletter.row {
    display: none;
  }
  .newsletter-signup {
    margin-top: 40px;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
    border-radius: 16px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px 50px 25px;
    .newsletter-heading {
      color: #031453;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      margin-bottom: 0;
      line-height: 1.2;
    }
    input {
      width: 100%;
      background: white;
      margin: auto;
    }
    .button {
      color: white;
      text-transform: uppercase;
      font-weight: $font-weight-semibold;
    }
  }

  .popular-post {
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;

    .title {
      color: #031453;
      font-size: 18px;
      margin-bottom: 0;
      line-height: 1;
    }
    .date {
      color: #b9b9b9;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  .row.category {
    @include media("<desktop") {
      display: none;
    }
  }
  .category-section {
    .label {
      padding: 5px;
      min-width: 200px;
      margin-bottom: 15px;
      transition: 0.3s background-color;
      &:hover {
        background-color: $button-hover-blue;
      }
    }
    @include media("<laptop") {
      display: none;
    }
  }
  a {
    text-decoration: none;
    &.button {
      &:hover {
        background-color: $button-hover-blue;
      }
    }
  }
  .request-demo-footer {
    a {
      &.button {
        &:hover {
          background-color: $button-hover-green;
        }
      }
    }
  }
}
