@import "_site-variables.scss";

.the-study-post {
  // ----------- NAVIGATION STYLING -----------
  header {
    nav {
      box-shadow: 0 1px 1px $grid-border;
      background-color: #fff;
      .nav-button {
        color: $primary;
        border-color: $primary;
      }
      & {
        .navbar-toggler .navbar-toggler-icon {
          background-image: url("../img/icon/nav-toggler-blue.svg");
          @include media("<laptop") {
            background-image: url("../img/icon/nav-toggler.svg");
          }
        }
        .logo a {
          .logo-holder {
            background-image: url("../img/icon/logo-blue.svg");
            @include media("<laptop") {
              background-image: url("../img/icon/logo-white.svg");
            }
          }
        }
        .phone > a {
          display: block;
          color: $primary;
          .phone-holder {
            /* phone holder and image holder should be refactored to operate the same way/same markup */
            background-image: url("../img/icon/phone-blue.svg");
            @include media(">=laptop") {
              background-image: url("../img/icon/phone-white.svg");
            }
          }
        }
      }
      @include media("<laptop") {
        .navbar-toggler .navbar-toggler-icon {
          background-image: url("../img/icon/nav-toggler-blue.svg");
        }
        .logo a {
          .logo-holder {
            background-image: url("../img/icon/logo-blue.svg");
          }
        }
        &.main-navbar-stuck {
          .navbar-toggler .navbar-toggler-icon {
            background-image: url("../img/icon/nav-toggler.svg");
          }
          .logo a {
            .logo-holder {
              background-image: url("../img/icon/logo-white.svg");
            }
          }
        }
      }

      li > a {
        color: $demo-body-text;
        .active {
          color: $primary;
        }
      }

      .nav-button {
        border-color: $primary;
      }

      .contact-links {
        a {
          color: $primary;
        }
      }
      &.main-navbar-stuck {
        .dropdown-menu {
          a {
            color: $primary-text;
          }
        }
      }
      .dropdown-menu {
        &:after {
          border-bottom: 9px solid #285c94;
        }
      }
    }
    // ----------- END NAVIGATION STYLING -----------
  }
}
