#DirectorySlash Off
#Direct users to a 404 if attempting to visit the parent Clients page
RedirectMatch 404 ^/our-clients/?$

# Old 301s from the WP doctorgenius.com
Redirect 301 /events/business-dentistry-2017-08-04/ /
Redirect 301 /events/ce/ /
Redirect 301 /events/google-partners-healthcare-marketing-091817/ /
Redirect 301 /events/google-partners-mobile-marketing-111517/ /
Redirect 301 /events/marketing-millennials-03152018/ /
Redirect 301 /events/webinar-04062018/ /
Redirect 301 /privacy-policy/ /
Redirect 301 /CDA/ /
Redirect 301 /cda/ /

#New 301s to support old content from WP dg.com
##RewriteRule (^.*?)/?$ $1

Redirect 302 /events /
Redirect 301 /portal /
Redirect 301 /confirmation /
Redirect 301 /thank-you /
Redirect 301 /ce /
Redirect 302 /contact /demo
Redirect 301 /category/digital-marketing /the-study/digital-marketing
Redirect 301 /category/practice-management /the-study/practice-management
Redirect 301 /category/genius-lab /the-study/genius-lab

#RewriteEngine on
#removing trailing slash
#RewriteCond %{REQUEST_FILENAME} \ /(.*)/(\ |$|\?)
#RewriteRule ^(.*)/$ $1 [R,L]

# internally add the slash back
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteCond %{REQUEST_URI} !/$
#RewriteRule ^(.*)$ /$1/ [L]


#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} (.+)
#RewriteRule ^(.*)/$ /$1 [L,R]
#RewriteRule ^(.*)/$ /$1/index.html [L]

#RewriteCond %{REQUEST_URI} !(.+)/$
#RewriteRule ^(.*) /$1/ [L,R]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^(.*[^/])$ /$1/

#RewriteCond %{REQUEST_URI} (.+)/$
#RewriteRule ^(.*) $1/index.php [L]

ErrorDocument 500 /500/index.html
ErrorDocument 404 /404/index.html
