@import "../styles/_site-variables.scss";

.companyPage {
  /* Styles unique to this page component */
  .hero {
    h2 {
      margin-bottom: 20px;
    }
    .heroContent {
      @include media(">=tablet") {
        width: 514px;
        height: 280px;
        margin-top: 90px;
      }
    }
  }

  .letsTalkPartnership > div {
    margin-top: 50px;
  }

  .panel {
    a {
      text-decoration: none;
    }
    .iconWrapper {
      height: 67px;
      width: 103px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .imgIcon {
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
