@import "../styles/_site-variables.scss";

.marketingSolutionsPage {
  /* Styles unique to this page component */
  .hero {
    @include media("<=tablet") {
      background-position: 84% 50%;
    }
    .heroContent {
      @include media(">=tablet") {
        width: 490px;
        height: 295px;
        p {
          width: 90%;
        }
      }
    }
  }

  .checkPlansBackgroundImage {
    height: 475px;
    background-position: 40%;
    @include media("<laptop") {
      background-position: 45%;
    }
  }

  .lighthouseImage {
    width: 110%;
    max-width: 110%;
    @include media("<laptop") {
      width: 100%;
    }
  }

  .toolsYouNeed {
    @include media("<laptop") {
      margin: 20px auto;
    }
  }

  .fullBleedContent {
    @include media(">phone", "<=tablet") {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imgIcon {
      max-height: 100%;
      object-fit: contain;
    }
  }

  .panelRow {
    align-items: flex-start;
  }

  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px calc(17.5px / 2); /* difference between bootstrap col-4 width and design panel width */
    @include media("<=laptop") {
      margin: 20px auto 40px;
    }
  }
}
