@import "../styles/_site-variables.scss";

.marketingSolutionsPage {
  /* Styles unique to this page component */

  .checkPlansBackgroundImage {
    height: 475px;
    background-position: 40%;
    @include media("<laptop") {
      background-position: 45%;
    }
  }

  .lighthouseImage {
    width: 110%;
    max-width: 110%;
    @include media("<laptop") {
      width: 100%;
    }
  }

  .toolsYouNeed {
    @include media("<laptop") {
      margin: 20px auto;
    }
  }

  .fullBleedContent {
    @include media(">phone", "<=tablet") {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .panelRow {
    align-items: flex-start;
  }
}
