@import "_site-variables.scss";

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Page Layout */
header {
  position: absolute;
}
.hero {
  height: 675px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.accent-block {
  padding: 2rem;
  background-color: rgba($primary, 0.95);
  color: $primary-text;
}
.accent-block h1 {
  font-size: 0.75rem;
  background: $secondary;
  display: inline;
  padding: 2px 5px;
}
.accentedParagraph {
  margin-left: 15px;
}

.accentedParagraph p:before {
  width: 5px;
  margin-left: -10px;
  height: 3rem;
  content: "";
  display: inline-block;
  position: absolute;
}

/* Background Colors */
.accent-block .accentedParagraph p:before {
  background-color: $secondary;
}
.accentedParagraph p:before {
  background-color: $primary;
}
.accent-block {
  background-color: rgba($primary, 0.95);
}

/* Text */
header,
nav,
nav > a,
nav > ul > li,
nav > ul > li > a {
  color: white;
}
.white-text {
  color: white;
}
.accent-block {
  color: $primary-text;
}
