@import "../styles/_site-variables.scss";

.pxModal {
  height:588px;
  width:937px;
  position: relative;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  .modalContent {
    text-align: center;
    padding: 20px 45px;
  }
  .modalContent, .modalImageHolder {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .formHolder {
    width:90%;
    margin: auto;
  }
  /* The Close Button */
  .modalClose {
    font-size: 35px;
    font-weight: bold;
    float: left;
    padding-left: 12px;
  }
  .modalClose:hover, .modalClose:focus {
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
  }
  .pxLogo {
    width: 100%;
    margin-top: 20px;
  }
  .pxModalCaption {
    font-size: 17px;
    font-weight: $font-weight-medium;
    font-family: $font-family-base;
    padding-top: 10px;
    color: #656565;
    width: 90%;
    margin: auto;
  }
  .privacyStatement {
    font-size: 14px;
    color: #AEAEAE;
    font-weight: $font-weight-light;
    font-family: $font-family-base;
  }
  .modalImage {
    display: block;
  }

  //Styling for tablet
  @media only screen and (min-width: $tablet) and (max-width: $laptop) {
    height:588px;
    width:760px;
    .modalContent {
      padding: 10px 25px;
    }
  }

  @media only screen and(max-width: 767px) {
    height:560px;
    width:325px;
    .modalContent {
      width: 100%;
      padding: 5px;
    }
    .modalImageHolder {
      display: none;
    }
  }
}