@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');

/* wordrpess */
body { border:none;font-family:"Roboto", sans-serif!important; }
header { display:none; }
footer { display:none; }
a:focus, a:hover { text-decoration:none; }
/* ----end---- */


img { max-width:100%; }
a.collapsible-header.active { background:#474986!important; }

ul#SideNav { width:320px;padding:0 20px;font-family: 'Nunito', sans-serif;letter-spacing:.2px;-webkit-box-shadow: 1px 0px 5px 0px rgba(207,207,207,1);
-moz-box-shadow: 1px 0px 5px 0px rgba(207,207,207,1);
box-shadow: 1px 0px 5px 0px rgba(207,207,207,1); }
.row { margin-bottom:0px; }
#SideNav .nav-logo { width:320px;height:70px;padding-top:10px;margin:0 -20px 20px;background:#474986; }
#SideNav .nav-logo img { display:block;max-width:210px;margin-left:50px; }
.mar-btm-50 { margin-bottom:50px; }


h1, h2, h3, h4, h5, .sub-heading { font-family:'Nunito', sans-serif;font-weight:700;margin:0;padding:0;line-height:1em; }
h1 { font-size:70px; }
h2 { font-size:40px; }
h3 { font-size:46px; }
h4 { font-size:36px;margin-top:20px; }
h5 { font-size:24px; }
p { font-size:1.2em;font-weight:300;color:#898989;margin:0;padding:0;width:100%;margin-top:20px; }
.sub-heading { font-size:42px;margin-top:10px;  }
.text-primary { color:#24A79A; }
.text-secondary { color:#ff9300; }
.text-grey { color:#ccc; }

.right-img { text-align:center; }

.slide-logo { text-align:center;margin-bottom:20px; }
.slide-logo img { max-width:100%;}

.fit-title-sub {  }
.fit-title-small { margin:10px 0; }

.fit-text-medium { line-height:1.4em; }

.border-top { display:block;width:100%; }
.border-top .color01, 
.border-top .color02, 
.border-top .color03, 
.border-top .color04, 
.border-top .color05 { float:left;height:5px;width:20%;margin:0;padding:0; }

.border-top .color01 { background:#F05354; }
.border-top .color02 { background:#24A699; }
.border-top .color03 { background:#F8981C; }
.border-top .color04 { background:#903D97; }
.border-top .color05 { background:#42A046; }

.side-nav li { margin:5px 0; }
.side-nav li > a { border-radius:50px;width:270px;font-weight:400;color:#808080;padding:0 20px;transition: all 0.3s ease 0s; }
.side-nav li > a:hover { border-radius:50px;background:#474986;color:#fff;width:270px;padding:0 20px;transition: all 0.3s ease 0s;  }
.side-nav li .active { background:transparent; }
.side-nav li .active a { border-radius:50px;background:#474986;color:#fff;width:270px; color:#fff; }
.side-nav .collapsible-header, .side-nav.fixed .collapsible-header { padding:0 20px; }
.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover { background:#474986;color:#fff;  }
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body  { padding-left:10px; }
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {  background:transparent;color:#808080;padding:0 20px;margin:0;height:28px;line-height:28px; }
.side-nav .collapsible-body li a:hover, .side-nav.fixed .collapsible-body li a:hover { background:transparent;color:#ff9300;font-weight:400; }
li .highlight {  border-radius:50px;background:#474986;width:270px;  }
li .highlight a { color:#fff; }

/* Getting to know your Practice */
ul.category-list { margin-top:20px; }
ul.category-list li { font-size:50px;font-family: 'Nunito', sans-serif;font-weight:600;color:#ff9300; }
li .sub-highlight a, .title-sub-color { color:#ff9300!important; }

/* Practice Promoter */
.promoter-heading-wrapper { position:relative;bottom:250px; }

/* Reporting */
ul.category-list-02 { margin-top:40px; }
ul.category-list-02 li { font-family: 'Nunito', sans-serif;font-size:40px;font-weight:600;color:#ff9300;margin-top:20px; }
.client-info, .client-name { font-family: 'Nunito', sans-serif;font-weight:700; }

.client-info { font-size:24px;margin-top:30px; }
.client-name { font-size:36px;margin:0;padding:0;line-height: 1em; }
.client-url { font-size:16px; }

/* Case Study List */
.case-study-list { font-family: 'Nunito', sans-serif;font-weight:700;color:#656666; }
.case-study-list li { font-size:34px;line-height:1.2em; }
.case-study-list li:first-child { margin:50px 0; }
.case-study-list li span { color:#F89A20;font-size:inherit; }

/* Prices and Plans */
h1.price-main-title { font-size:50px; }
.title-partnership, .title-plan, .plan-price, .web-title, .download-title { font-family: 'Nunito', sans-serif;font-weight:700; }
.title-partnership {font-size: 25px;}
.title-plan {font-size: 42px;line-height:42px; }
.web-title {font-size: 22px;margin-top: 10px; }
.plan-price {font-size: 45px;line-height:1em; }
.plan-price span {font-size: 23px;margin-top: 10px;vertical-align: middle;display: inline-block;margin-top: -9px;color: #25a799; }
.download-title { font-size:20px;margin-top:0px; }
ul.prices {font-family: 'Nunito', sans-serif;color:#656666;margin-top: 8px;display:inline-block;margin-bottom: 0; }
ul.prices li {font-size: 22px;font-weight:600;text-indent: -29px;padding-left: 1em;line-height: 29px; }
ul.prices li span { color:#F8981C;margin-right:5px; }
ul.prices li:last-child { margin-bottom:0px; }


#SlideWrapper { height:100vh;margin-left:320px;background:url('../img/background-circle.jpg');background-repeat:no-repeat;background-position: -30% 19%;background-size: 50%; }
#SlideWrapper .top-bar { height:10vh;/* background:#f7f7f7;*/display:block;width:100%; }
#SlideWrapper .bottom-bar {  height:6vh;background:#f7f7f7; position:relative;display:table;width:100%;bottom:0; }
#SlideWrapper .bottom-info { display: table-cell; vertical-align: middle;color:#adadad;font-weight:300; }
#SlideWrapper .mid-slide { height:90vh;display:table;width:100%; }
#SlideWrapper .mid-slide-index { height:92vh;display:table;width:100%; }
#SlideWrapper .slide-info { display: table-cell; vertical-align: middle;padding:0 5%; }
#SlideWrapper .top-logo { position:absolute;top:20px;left:50%; }

#SlideWrapper .slide-index{ background:url('../img/img-computer.png');background-repeat:no-repeat;background-position: 95% center;background-size: 55%; }
#SlideWrapper .slide-practice { background:url('../img/practice-main.jpg');background-repeat:no-repeat;background-position: 95% 0px;background-size: 55%; }
#SlideWrapper .slide-target { background:url('../img/practice-target.jpg');background-repeat:no-repeat;background-position: 115% 0px;background-size: 60%; }
#SlideWrapper .slide-treatment { background:url('../img/practice-treatment.jpg');background-repeat:no-repeat;background-position: 115% 0px;background-size: 60%; }
#SlideWrapper .slide-promotions { background:url('../img/practice-promotions.jpg');background-repeat:no-repeat;background-position: 115% 0px;background-size: 55%; }
#SlideWrapper .slide-goals { background:url('../img/practice-goals.jpg');background-repeat:no-repeat;background-position: 105% 0px;background-size: 60%; }
#SlideWrapper .slide-patients { background:url('../img/practice-patients.jpg');background-repeat:no-repeat;background-position: 115% 58px;background-size: 64%; }
#SlideWrapper .slide-digital { background:url('../img/digital-landscape.jpg');background-repeat:no-repeat;background-position: 120% 0px;background-size: 60%; }
#SlideWrapper .slide-google { background:url('../img/google-data.jpg');background-repeat:no-repeat;background-position: 115% 50px;background-size: 60%; }
#SlideWrapper .slide-speed { background:url('../img/website-speed.jpg');background-repeat:no-repeat;background-position: 115% 28px;background-size: 58%; }
#SlideWrapper .slide-security { background:url('../img/security.jpg');background-repeat:no-repeat;background-position: 111% 0px;background-size: 54%; }
#SlideWrapper .slide-blog { background:url('../img/blog.jpg');background-repeat:no-repeat;background-position: 105% 0px;background-size: 60%; }
#SlideWrapper .slide-optimization { background:url('../img/optimization.jpg');background-repeat:no-repeat;background-position: 115% center;background-size: 60%; }
#SlideWrapper .slide-promoter { background:url('../img/promoter.jpg');background-repeat:no-repeat;background-position: 121% 24px;background-size: 61%; }
#SlideWrapper .slide-promoter-setting { background:url('../img/promoter-setting.png');background-repeat:no-repeat;background-position: 125px 60px;background-size:100%; }
#SlideWrapper .slide-promoter-engagement { background:url('../img/promoter-engagement.png');background-repeat:no-repeat;background-position: 75px 60px;background-size:100%; }
#SlideWrapper .slide-promoter-data { background:url('../img/promoter-data.png');background-repeat:no-repeat;background-position: 260px -161px;background-size:129%; }
#SlideWrapper .slide-reporting { background:url('../img/reporting.jpg');background-repeat:no-repeat;background-position: 142% 92px;background-size:70%; }
#SlideWrapper .slide-reporting-portal { background:url('../img/reporting-portal.jpg');background-repeat:no-repeat;background-position: 126% 18px;background-size:74%; }
#SlideWrapper .slide-reporting-reputation { background:url('../img/reporting-reputation.jpg');background-repeat:no-repeat;background-position: 130% 18px;background-size:74%; }
#SlideWrapper .slide-reporting-ranking { background:url('../img/reporting-ranking.jpg');background-repeat:no-repeat;background-position: 132% 18px;background-size:74%;}
#SlideWrapper .slide-reporting-analytics { background:url('../img/reporting-analytics.jpg');background-repeat:no-repeat;background-position: 130% 0px;background-size:74%; }
#SlideWrapper .slide-case-study { background:url('../img/case-study.jpg');background-repeat:no-repeat;background-position: 110% 30px;background-size:60% }
#SlideWrapper .slide-prices { background:url('../img/prices.jpg');background-repeat:no-repeat;background-position: 105% 0px;background-size:60% }

.bubbles { font-family: 'Nunito', sans-serif;width:495px;height:369px;color:#fff;background:url('../img/speech-bubble.jpg');background-repeat:no-repeat;margin-top:50px;padding:35px 0 0 42px;font-weight:700; }
.bubbles .numbers { font-size:120px;text-align:center;line-height:1em;letter-spacing:-3px; }
.bubbles .numbers-info { font-size:60px;color:#fff;text-align:center;line-height:42px;margin-top:12px; }
.bubbles .numbers-info span { font-size:40px;line-height:1em; }

.bubble-02 { max-width:100%;width:660px;height:255px;background:url('../img/img-bubble-02.png');background-repeat:no-repeat;background-size:100%;margin:30px 0;padding:40px 88px;text-align: center;font-style: italic;color: #6f6f6f;}
.bubble-02 p { font-size: 38px;line-height: 43px;margin-top: 12px; }

.top-btn-wrapper { display: block; padding: 38px 20px;}
.top-btn-wrapper a.btn-next { float:right;display:inline-block;background:#f38900;color:#fff;padding:5px 20px;border-radius:20px;width:100%;max-width:140px;text-align:center;margin-right:20px; }
.top-btn-wrapper a.btn-next:hover { background-color:#F8981C;transition: all 0.3s ease 0s;  }


.sub-title { display:inline-block;font-family: 'Nunito', sans-serif;color:#474986;font-size:48px;font-weight:700;line-height:1.2em;margin:20px 0 0 0; }
 ul.sub-title  { list-style-type:disc; }
.sub-title li { margin:30px 0 50px 0 }
.sub-title span { font-size:46px; }
.bullet { display:inline-block;font-size:48px; }

/* optmization */
ul.optimization { font-family: 'Nunito', sans-serif;color:#808080;margin-top:20px;display:inline-block; }
ul.optimization li {font-size:26px;font-weight:600;text-indent: -29px;padding-left: 1em; }
ul.optimization li span { color:#24A79A;margin-right:5px;  }
ul.optimization li.disclosure { font-size: 15px;margin-top: 10px;margin-left: 10px;font-style: italic;font-weight: 100; }

a.btn-big { font-size:24px;display:block;background:#f38900;color:#fff;padding:10px 20px;letter-spacing:1px;font-family: 'Nunito', sans-serif;border-radius:40px;width:100%;max-width:300px;text-align:center;margin:10px auto; }
a.btn-big:hover { background-color:#F8981C;00transition: all 0.3s ease 0s; }
a.btn-big-site { font-size:1em;display:inline-block;background:#f38900;color:#fff;padding:8px 20px;font-family: 'Nunito', sans-serif;border-radius:40px;width:100%;max-width:300px;text-align:center;margin-right:10px;margin-top:15px; }
a.btn-big-site:hover { background-color:#F8981C;00transition: all 0.3s ease 0s; }

.btn-info { font-family: 'Nunito', sans-serif;margin-top:15px;color:#95989A; }
.btn-info span img { max-width:100%;vertical-align:middle;margin:0px 5px; }

span.quotes-left img { z-index:1;position:relative;top:50px;left:15px; }
span.quotes-right img {z-index:1;position:relative;top:-40px;float:right;right:20px; }

.speech-bubble { position: relative;background:#474986;border-radius: .4em;padding:60px 25px;color:#fff;min-height:290px;display: table; }
.speech-bubble:after {content: '';position: absolute;bottom: 0;left: 20%;width: 0;height: 0;border: 50px solid transparent;border-top-color: #474986;border-bottom: 0;border-left: 0;margin-left: 0;margin-bottom: -32px; }
.speech-bubble p { font-weight:100;font-size:18px;display: table-cell; vertical-align: middle; }

.profile-wrapper { display:block;margin-top:50px;margin-left:10px; }
.profile img { display:block;height:100px;width:100px;border-radius:50%;float:left;margin-right:20px; }
ul.stars { margin:0;padding:15px 0 0 0; }
ul.stars li { display:inline-block;width:28px; }
.profile-wrapper .name { font-family: 'Nunito', sans-serif;color:#24A79A;font-size:22px;font-weight:600; }


@media only screen and (max-width:992px) {
	a.button-collapse { position:absolute;top:25px;left:25px; }
	#SlideWrapper { margin-left:0;background-position: -50px 40%;background-size: 100%; }
	#SlideWrapper .valign-wrapper { display:block; }
	a.btn-big { margin-top:50px; }
	.top-btn-wrapper a.btn-next { max-width: 106px;margin-right: 15px; }
	.slide-logo img { max-width:75%;margin-top:20px; }

	/* index.php */
	img.slide-index-logo { display:block;max-width:300px;margin:20px auto 0; }
	.right-img { margin:50px 0; }
}


/* screen size 1600px by 750px */
@media only screen and (max-height:770px) {
	h1 { font-size:60px; }
	h2 { font-size:25px; }
	h3 { font-size:36px; }
	h4 { font-size:28px; }		
	p { font-size:17px; }
	.sub-heading { font-size:32px;}
	
	#SlideWrapper .top-bar { height:14vh; }
	#SlideWrapper .mid-slide { height:86vh; }

	.top-btn-wrapper { padding-top:28px; }
	.fit-title-main { font-size:52px}

	a.btn-small { font-size:22px;max-width:280px;padding:6px; }
	a.btn-big { font-size:22px;max-width:280px;padding:6px; }

	/* Track Record */
	.speech-bubble p { font-size:16px; }
	.speech-bubble  { min-height: 258px;padding:25px; }
	.profile-wrapper { margin-top:42px; }
	
	/* Get To Your Practice */
	#SlideWrapper .slide-practice { background-position:110% 38px;background-size:60%; }
	ul.category-list li { font-size:42px; }

	/* Target Patient */
	.sub-title { color:#474986;font-size:36px; }

	/* Google Structure Data */
	#SlideWrapper .slide-google { background-position: 115% 25px;background-size: 62%; }

	/* Website Speed */
	#SlideWrapper .slide-speed { background-position: 111% 20px;background-size: 56%; }
	.bubble-02 { padding:16px 88px;margin-bottom:0; }
	.bubble-02 p { font-size:32px;line-height:1.2em;margin-top:20px; }

    /* Website Design & Optimization */
    ul.optimization li { font-size:22px; }

    /* Practice Promoter  */
	#SlideWrapper .slide-promoter { background-position: 118% 0px;background-size: 61%; }
	.promoter-heading-wrapper { position:relative;bottom:200px; }

    /* Practice Promoter - Setting Up */
	#SlideWrapper .slide-promoter-setting { background-position: 88px 10px;background-size:100%; }

    /* Practice Promoter - Engagement */
    #SlideWrapper .slide-promoter-engagement { background-position: 58px 16px;background-size:100%; }

    /* Practice Promoter - Data / Report */
    #SlideWrapper .slide-promoter-data { background-position: 260px -115px;background-size:129%; }

    /* Reporting */
	#SlideWrapper .slide-reporting { background-position: 142% 38px;background-size:70%; }
	ul.category-list-02 {margin:0; }
	ul.category-list-02 li {font-size:32px;line-height:1em; }
	.client-name { font-size:30px; }

    /* Reporting - Call/Web Tracking Portal */
	#SlideWrapper .slide-reporting-portal { background-position: 137% 0px;background-size:74%; }

	/* Reporting - Call/Web Tracking Portal */
	#SlideWrapper .slide-reporting-reputation { background-position: 140% 0px;background-size:74%; }

	/* Reporting - Ranking Reports */
	#SlideWrapper .slide-reporting-ranking { background-position: 140% 0px;background-size:74%; }

	/* Reporting - Google Analytics */
	#SlideWrapper .slide-reporting-analytics { background-position: 140% 0px;background-size:74%; }		

	/* Case Study */
	#SlideWrapper .slide-case-study { background-position: 110% 30px;background-size:60%; }
	.case-study-list li { font-size:25px;line-height:1.2em; }


	/* Prices and Plans */
	#SlideWrapper .slide-prices { background:url('../img/prices.jpg');background-repeat:no-repeat;background-position: 89% 0px;background-size:52% }
	h1.price-main-title { font-size:45px; }
	.title-partnership { font-size:24px;}
	.title-plan { font-size:40px;line-height:42px; }
	.web-title { font-size:24px;margin-top:10px; }
	.plan-price { font-size:40px;line-height:1em; }
	.download-title { font-size:18px;margin-top:0px; }
	ul.prices { font-family: 'Nunito', sans-serif;color:#656666;margin-top:20px;margin-bottom:0;display:inline-block; }
	ul.prices li {font-size:20px;font-weight:600;text-indent: -29px;padding-left: 1em;line-height: 32px; }
	ul.prices li span { color:#F8981C;margin-right:5px;  }
	ul.prices li:last-child { margin-bottom:0px; }



}




