form.form span.value {
    display: block;
    float: none;
    width: 98%;
    margin:30px 0 0 10px!important;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: initial;
    opacity: 1;
    pointer-events: auto; 
}
form.form p.required label, form.form span.required label {
    background:none!important;
}
form.form p label.inline {
    background: 0;
    display: inline;
    float: none;
    font-weight: normal;
    line-height: 2em;
    margin-left: 6px;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
  }
  form.form p label {
    text-align:left!important;
    width:100%!important;
  }
  form.form p {
    clear: left;
    line-height: 1.4em;
    margin: 16px 5%!important;
    padding: 3px 2px!important;
  }
  form.form {
    font:inherit!important;
}
label {
    font-size: 0.9rem;
    color: #5b5e71;
}
form.form input.text {
    width: 100%;
    margin: 0 auto;
    display: block;
    background: whitesmoke;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #247cbf;
}

form.form p.required label, form.form span.required label {
    background: url(/images/required.gif) no-repeat top right;
}

.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: #d8d8d840;
  color: #1c75bc;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 64px;
  font-size: 16px;
  margin: 0 0 0px 0;
  padding: 0 0 0 14px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  border-radius: 5px;
}

.select-wrapper .caret {
  position: absolute;
  left: 45px;
  top: 27px;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
  fill: rgba(0, 0, 0, 0.87);
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: #5b5e71;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

form.form p label {
    padding: 3px 13px 5px 0!important;
}

form.form input.text {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 0px 0px 8px;
}


input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0c92ff;
  -webkit-box-shadow: 0 1px 0 0 #0c92ff;
          box-shadow: 0 1px 0 0 #0c92ff;
}
